[2018-12-07 18:47] BryceLTaylor opened #1 "cmd-v does not paste in the search bar of the sprite library"
If you copy something to your clibpoard and then paste it in the search bar on the sprite library, nothing appears in the search bar and the results do not change.

You should be able to paste things in the search bar.

### Steps to reproduce
Launch the offline editor
Copy a piece of text to your clipboard (cmd-c) from anywhere
Open the sprite library
Select the search bar for the library
type cmd

[2018-12-10 21:53] BryceLTaylor opened #2 "Scratch Desktop should not display the preview modal"
The offline editor should not ask you if you want to try 3.0, nor ask you to load a 2.0 project by id.

This should not be there:
![screen shot 2018-12-10 at 4 51 55 pm](https://user-images.githubusercontent.com/1088291/49763908-f11adc80-fc9b-11e8-818c-5196e80a09e4.png)

### Steps to reproduce
Launch the offline editor
Note: there is a modal asking you to try

### Operating System:
Mac and Windows

[2018-12-10 22:02] BryceLTaylor opened #3 "On windows, the window is too short and has a scroll bar"
From @fsih:
The window pops up a little bit too short in width, there is a scrollbar

[2018-12-10 22:07] BryceLTaylor opened #4 "Translate extension appears to retry constantly"
From @picklesrus:
If you add the translate extension and run the "translate [   ] to [   ]" block with no internet connection it tries to run the block constantly.
![image4](https://user-images.githubusercontent.com/1088291/49764564-d6e1fe00-fc9d-11e8-8d38-2be254deb375.gif)

It should give up at some point

### Steps to reproduce
Create a new project
Add the translate extension
Turn off your inter

[2018-12-10 22:11] BryceLTaylor opened #5 "Images for backdrops and costumes don't appear in their libraries"
If you turn off your internet connection and open the backdrop, costume, or sprite libraries the libraries should still show thumbnails for each item in it.

The sprites are appearing, but the costumes and backdrops are not appearing in their libraries:
![image6](https://user-images.githubusercontent.com/1088291/49764798-7b644000-fc9e-11e8-83fe-7cf97f19a229.png)
![image7](https://user-images.githu

[2018-12-10 22:26] BryceLTaylor opened #6 "Scratch desktop should not show "save now" in the nav bar"
It should not say "Save Now" in the nav bar when you have unsaved changes, since it is not connected to the server to save.

### steps to reproduce
Create a new project
make changes to the project
Note: in the nav bar a link appears that says "save now"
Note: clicking the "save now" link does nothing

### Operating System
Mac and Windows

[2018-12-10 22:34] BryceLTaylor opened #7 "Implement autosave on desktop"
We should implement tracking where the current sb3 file is saved and autosave changes to it.  Then we can undo the fix to #6.

[2018-12-10 22:36] BryceLTaylor opened #8 "Scratch logo should not go to the Scratch Homepage"
From @kathymakes:
Using Scratch Desktop online, Scratch logo takes you to the Scratch.mit.edu homepage. Then if you click on any links within Scratch.mit.edu within electron you get spinny wheel of doom.

It should not take you to the Scratch Homepage.

[2018-12-10 22:43] BryceLTaylor opened #9 "External hardware extensions should not open external help pages"
From @benjiwheeler
In desktop editor, within Microbit connection window, “Help” button tries to open external page
(related: so does the scratch logo)

### Steps to reproduce
Disconnect from the internet
Create a new project
Add a hardware extension (such as microbit)
On the modal that pops up click the "help" button
Note: it opens a blank page that is titled "_blank"

It should either have the he

[2018-12-10 22:45] BryceLTaylor opened #10 "Should be able to close Scratch-Desktop"
Choosing "Scratch 3.0 Desktop > Quit" should quit the program, (or File>Quit on windows).  Currently it doesn't.

[2018-12-13 18:38] #10 closed, assigned to cwillisf

[2018-12-13 18:41] cwillisf opened #12 "Hide "Animate an Adventure Game" tutorial for now"
See LLK/scratch-gui#4072

[2018-12-14 21:37] BryceLTaylor opened #13 "Opening tutorial menu gives oops page"
If you open the tutorials menu the whole page becomes blue and it gives you the "oops"  message.  If you click the "Reload" it brings you back to the editor, but all of your progress is gone.

### Steps to reproduce
Open the editor
Drag out a block onto the workspace
Click "Tutorials" in the nav bar
Note: you are on an "oops" page
Click Reload
Note: You are back in the editor but your block you dr

[2018-12-14 21:47] BryceLTaylor opened #14 ""open" menu does not show .sb, .sb2, or .sb3 files on Windows"
The first time I clicked "File>Load from your computer", the file browser was on the downloads folder and it didn't show me any .sb, .sb2, or .sb3 files.  I had previously just saved a project from Scratch Desktop to the downloads folder.

I switched to "All Files" and could see the file I knew was there.  The next time I opened it and chose "Custom Files" rather than "All Files", .sb3 files were

[2018-12-14 23:38] #13 closed, assigned to nobody

[2018-12-17 19:11] benjiwheeler opened #15 "User not prompted to save current project, when uploading"
When uploading from desktop, the system does not ask if the user would like to save the current project before uploading a new one.

Reported by the LLK Brazil team

[2018-12-17 19:34] #5 closed, assigned to cwillisf

[2018-12-17 19:34] #8 closed, assigned to cwillisf

[2018-12-18 16:14] #4 closed, assigned to picklesrus

[2018-12-19 18:00] #12 closed, assigned to cwillisf

[2018-12-19 18:04] cwillisf opened #17 "Add opt-in dialog for telemetry"
Add a modal dialog requesting that the user allow telemetry reporting. The telemetry system must not report any data to the telemetry servers until and unless the user provides a positive response through this dialog.

[2018-12-20 03:44] #6 closed, assigned to cwillisf

[2018-12-21 11:02] #3 closed, assigned to cwillisf

[2018-12-27 19:20] #9 closed, assigned to cwillisf

[2018-12-27 19:22] #17 closed, assigned to cwillisf

[2018-12-27 20:01] #1 closed, assigned to cwillisf

[2018-12-28 15:57] paulkaplan opened #21 "Windows Defender SmartScreen blocks running Scratch Desktop"
Downloaded Scratch Desktop (1.2.0.exe) from the dropbox link (2018-12-28 test) and saw this (note i already clicked the "more info" button to see the publisher info)

<img width="960" alt="scratch-link-windows-defender 1" src="https://user-images.githubusercontent.com/654102/50520531-dcf22000-0a8e-11e9-9432-2c8cc69e6845.png">

I know that there are two parts to the SmartScreen system:
1. Your app

[2018-12-28 19:42] BryceLTaylor opened #22 "Touching text fields does not bring up soft keyboard"
Touching the text field in a block or on the sprite info area or the paint/sound editor should bring up the soft keyboard (Microsoft surface).  It doesn't.

### Operating System
Windows (Microsoft Surface)

[2018-12-28 19:50] #21 closed, assigned to cwillisf

[2018-12-28 22:01] benjiwheeler opened #23 "Make it possible to see which version of Scratch Desktop app I'm running"
In Mac, I'd like to be able to see which version of the Scratch Desktop app I'm running.

Maybe we could make a menu item like `File->Version 1.2.0` (wouldn't even have to do anything!)

Or, some kind of more elaborate "About Scratch Desktop" item?

[2019-01-02 13:11] cwillisf opened #24 "Windows: Launching two copies quickly results in an error message"
Found by @BryceLTaylor on version 1.2.0 from the Microsoft Store:

![desktoptelemetryerror](https://user-images.githubusercontent.com/7019101/50593338-fc5dc400-0e65-11e9-872a-e38a1345c0f6.png)

[2019-01-03 12:34] thisandagain opened #25 "Scratch Desktop has no share button"
### Expected Behavior

There should be a share button.

### Actual Behavior

There isn't one.

### Steps to Reproduce

Look in Scratch Desktop.
### Operating System and Browser

Windows, Scratch Desktop (installed from windows store)

---
Moved from LLK/scratch-gui#4227
/cc @kyleplo

[2019-01-04 15:07] BryceLTaylor opened #26 "Saving file doesn't add .sb3 file extension to the file name"
When you save a file it should append a .sb3 to the file name.  Currently it doesn't.  This means that when you go to load a project that you just saved it doesn't show up in the list of files by default.

If you switch to show all files it will show you the file and you can load it and it will work just fine.

## Operating System
Windows

[2019-01-09 16:00] BryceLTaylor opened #28 "Save dialog doesn't expand when clicking the down caret button on mac"
The first time you save a project on a mac the dialog is small, showing you only a title field, tags, and a "where" section that only shows limited number of locations.
![screen shot 2019-01-09 at 10 49 26 am](https://user-images.githubusercontent.com/1088291/50910660-4150a000-13fc-11e9-9d47-7ed150702fa6.png)

 If you click the "Down Carrot" button to the right of the Where section it should expan

[2019-01-09 16:49] BryceLTaylor opened #29 "Save dialog always points towards the documents folder on mac"
Every time you choose File > Save to your computer it opens the browser to the Documents folder.   It should remember where you last saved/loaded a project and open to that folder.

One exception is the first time you try to save it chooses another folder.  I'm having trouble reproducing this, though.

### Steps to Reproduce
Open the offline editor
Choose File > Save to your computer
Note: it show

[2019-01-09 20:46] ericrosenbaum opened #30 "Can't allow camera permissions after denying it"
Shruti reports that after opening the video sensing extension, she accidentally denied the camera permission. She was then unable to find a way to allow the camera permission.

It looks like on OS 10.13 and lower, it automatically grants permissions, so this is only an issue on 10.14+:

[code]
(from https://electronjs.org/docs/api/system-preferences)

[2019-01-11 04:27] #26 closed, assigned to cwillisf

[2019-01-11 04:27] #29 closed, assigned to nobody

[2019-01-11 18:33] cwillisf opened #31 "Scratch Link connection for hardware extensions should work without Internet access"
### Expected Behavior

If Scratch Link is running, hardware extensions like the micro:bit, LEGO WeDo 2.0, etc., should work whether or not the computer is connected to the Internet.

### Actual Behavior

Connecting to Scratch Link requires an Internet connection: specifically, we need DNS to resolve the `device-manager.scratch.mit.edu` name to an IP.

### Proposal

Scratch Desktop is a different s

[2019-01-14 15:21] BryceLTaylor opened #32 "ENA-6: Can't open project files in Scratch Desktop from the finder on Mac / Explorer on Windows"
Scratch projects, .sb, .sb2, or a .sb3, that has been saved to your computer can't be "opened with" Scratch Desktop.  If you right click on one and choose Open With it does not suggest Scratch Desktop.  If you choose Other it opens the browser window and Scratch Desktop is not highlighted as a possible option.

If you change it to from "Recommended Applications" to "All Applications" you can choos

[2019-01-14 22:16] thisandagain opened #33 "Translate Exit message on Desktop"
I know this is not the right place to put issues of Scratch Desktop, but...

### Expected Behavior
Localization for Exit message of Scratch Desktop

### Actual Behavior
It's always in English

---
Moved from LLK/scratch-gui#4320
/cc @apple502j

[2019-01-15 19:44] cwillisf opened #34 "Project title field is missing"
### Expected Behavior

Scratch Desktop should display the project title, similar to the same way that the Scratch website does for a project owned by the current user.

Scratch Desktop should display like this (own project / remix):
![image](https://user-images.githubusercontent.com/7019101/51205292-70628800-18ba-11e9-9d86-9bb1519e8706.png)

Scratch Desktop should not display the title like this (

[2019-02-08 18:47] BryceLTaylor opened #35 "There should be a Windows MSI installer file made available"
IT administrators are asking for MSI files to install more efficiently in schools.  I think we should make one.

### Details
From a freshdesk ticket:
"I am a school ICT Engineer working in 6 schools in Manchester UK. Some of my schools would like to start using version 3.0 which is great of course. But (and this is a rather big "but"), there is no way of rolling out the program using Group Policy

[2019-02-08 18:52] BryceLTaylor opened #36 "Installer should include an Install per-machine rather than per-user option"
Currently when you install Scratch-Desktop on Windows it only installs on one user's account.  There should be an option to install for the whole machine so any user can access the program.

### Details
From a fresh desk ticket:
"...And it does not help that the current installer installs to "APP Data" in individual user profiles, meaning of course it needs to be installed every time a different u

[2019-02-13 14:42] #15 closed, assigned to paulkaplan

[2019-03-18 15:16] SteveDoesStuff commented on #30
Had this same issue and was able to resolve it:
1. System Preferences > Security & Privacy > Privacy tab
2. Select Camera in the left pane (or Microphone if its access was denied in Scratch Desktop)
3. Check the box next to Scratch Desktop in the right pane
4. Restart Scratch Desktop

[2019-03-25 07:33] ghirardinicola opened #37 "Does it work for linux?"
If yes, i think it should be mentioned somewhere.
Thanks

[2019-03-25 17:58] thisandagain commented on #37
We currently do not support running Scratch Desktop on Linux.

[2019-03-25 17:58] #37 closed, assigned to nobody

[2019-03-27 12:13] mikebarkmin commented on #37
I have build an AppImage based on this repository (no modifications needed) and it runs great on Ubuntu 18.04. See https://github.com/mikebarkmin/scratch-desktop/releases/download/1.2.1/ScratchDesktop-1.2.1.AppImage

[2019-03-28 13:46] towerofnix commented on #37
Yes, do note that while the Scratch Team is not explicitly supporting nor targeting Linux, at least at present moment scratch-desktop does build and run excellently on Linux (in addition to Ubuntu as above, I've tried on Debian).

[2019-03-29 02:03] zhengyongxiong opened #38 "Make a packaged build error"
I followed the steps to this point.
npm run dist
![image](https://user-images.githubusercontent.com/13392637/55204354-9e910c00-5209-11e9-9167-3923e8a9c020.png)
![image](https://user-images.githubusercontent.com/13392637/55204376-b7012680-5209-11e9-8db2-bb6041327bb7.png)
![image](https://user-images.githubusercontent.com/13392637/55204394-c4b6ac00-5209-11e9-96c1-8c3f1c064dec.png)
Have you ever enco

[2019-03-29 03:17] towerofnix commented on #38
Just to be certain, did you closely follow [the "Prepare `scratch-gui`" section](https://github.com/LLK/scratch-desktop#prepare-scratch-gui)? There should be a folder `G:\scratch3.0\scratch-desktop\node_modules\scratch-gui`. If that folder doesn't exist, you should follow those steps again, just in case you accidentally forgot to do one of the steps earlier (or something similar).

[2019-03-29 03:33] zhengyongxiong commented on #38
![image](https://user-images.githubusercontent.com/13392637/55207716-54625780-5216-11e9-8f16-df7d0c022a48.png)
This directory exists.

[2019-03-29 03:34] zhengyongxiong commented on #38
Is there an error in this catalogue?

[2019-04-02 19:56] BryceLTaylor opened #39 "Scratch Desktop gives an error when opening on older Macbook Pros"
A report came in from the community saying they couldn't run Scratch Desktop on a Macbook Pro from 2011.  It gives them an error saying the computer does not support OpenGL.  They say they can use the online editor.

It seems that the offline editor has different system requirements than the online editor.  We should probably report the requirements somewhere and/or support the older machines stil

[2019-04-03 01:01] zhengyongxiong opened #40 "Build error on CentOS Linux"
Make a packaged build  erro!
Have you ever had such a problem? How to solve it?
![image](https://user-images.githubusercontent.com/13392637/55445550-7da42e80-55ee-11e9-866f-224d5e9ec552.png)
![image](https://user-images.githubusercontent.com/13392637/55445561-88f75a00-55ee-11e9-955f-6da07970e0b8.png)

[2019-04-03 13:59] towerofnix commented on #40
Looks like scratch-desktop requires libgtk to install. Depending on what Linux distro you use, you can probably install that with `apt`/`apt-get`.

[2019-04-04 00:29] zhengyongxiong commented on #40
centos linux

[2019-04-04 07:54] zhengyongxiong commented on #39
I always made mistakes and failed to execute NPM run dist on MacOS and win10.

[2019-04-04 07:55] zhengyongxiong commented on #35
I always made mistakes and failed to execute NPM run dist on MacOS and win10.

[2019-04-04 07:56] zhengyongxiong commented on #39
![image](https://user-images.githubusercontent.com/13392637/55538928-1a032980-56f2-11e9-84b2-c508e1b13af2.png)
Has anyone dist succeeded?

[2019-04-04 07:57] zhengyongxiong commented on #35
![image](https://user-images.githubusercontent.com/13392637/55539013-44ed7d80-56f2-11e9-944d-805709feac32.png)
Has anyone dist succeeded?

[2019-04-04 07:59] zhengyongxiong commented on #33
![image](https://user-images.githubusercontent.com/13392637/55539152-972e9e80-56f2-11e9-9aaa-94a67eed0167.png)
Has anyone dist succeeded?

[2019-04-05 06:20] apple502j commented on #33
Feedback from a Japanese Scratcher

https://scratch.mit.edu/discuss/post/3496919/

[2019-04-05 16:52] cwillisf commented on #40
Though in some cases it might build and work correctly, we don't officially support Scratch Desktop in Linux. See also: #37

[2019-04-05 16:52] #40 closed, assigned to nobody

[2019-04-05 18:55] cwillisf commented on #38
@zhengyongxiong it looks like you might have skipped some of the steps in [the "Prepare `scratch-gui`" section](https://github.com/LLK/scratch-desktop#prepare-scratch-gui) that @towerofnix mentioned, especially step 3 and maybe step 2 also. It should be safe to do steps 2 and 3 more than once, so I would suggest doing them both now just to be sure.

[2019-04-06 06:30] apple502j opened #41 "New Design for "Leave Scratch" prompt"
Currently there are two choices: stay and leave. But people might choose "leave" with some unsaved changes, because most programs allow us to save before quitting. This is worth implementing.

Current one:
![image](https://user-images.githubusercontent.com/33279053/55665654-b6f2cd80-587e-11e9-9998-a012bf4c4809.png)

Suggested one:
![image](https://user-images.githubusercontent.com/33279053/5566583

[2019-04-08 00:51] zhengyongxiong commented on #38
Do you have any detailed procedures?

[2019-04-15 09:03] CmdrNorthpaw opened #43 "No NPM dependencies installed"
I've been building this app for myself (for learning), but every time I run BUILD_MODE=dist npm run build it throws another missing package error (I must have installed hundreds of packages in this way). Is there anything I can do to install all the dependencies at once?

[2019-04-15 09:03] zhengyongxiong opened #44 "npm run dist erro!"
<img width="1272" alt="image" src="https://user-images.githubusercontent.com/13392637/56120137-24e67580-5fa0-11e9-8d92-56584642d5c0.png">
I run "nom run diet "on my MacBook,have a error!
everybody know what that is?

[2019-04-26 10:31] iamsush opened #45 "Not able to run the project"
I followed the doc and tried to run scratch-desktop,
even [the "Prepare scratch-gui" section](https://github.com/LLK/scratch-desktop#prepare-scratch-gui)

Steps after preparing scratch-gui:
[code]

But still I am getting the below error,

![2019-04-26 at 15-55-49](https://user-images.githubusercontent.com/17278151/56801919-4d8e2b00-683c-11e9-9e50-91ed80cc478a.png)

I checked node_modules folder, s

[2019-04-28 03:30] dlech commented on #45
I had the same problem. Then I found the missing steps at https://github.com/LLK/scratch-gui#developing-alongside-other-scratch-repositories

You also have to run `npm link` in the scratch-gui folder and then `npm link scratch-gui` in the scratch-desktop folder.

[2019-04-29 07:45] iamsush commented on #45
Thanks, that worked out for me too. But I have one more doubt, how can we get hot reloading with the scratch-gui when used with scratch-desktop. As, I am unable to do it. The application (scratch-desktop) doesn't hot reload when changes are made in scratch-gui (npm link is done).

[2019-04-29 09:43] iamsush opened #46 "WebGL issue"
I tried to wrap scratch-gui in my own Electron wrapper (not scratch-desktop), but I was getting the below error
[code]

I checked my default browser, it is supporting WebGL and WebGL2 (check attached,
![WebGL](https://user-images.githubusercontent.com/17278151/56888309-4875e980-6a91-11e9-9b49-b82cd16bc685.PNG)
). I am not sure why electron browser is not able to open scratch-gui and throwing that

[2019-04-29 13:24] iamsush commented on #46
Issue Resolved!

I was using older version of electron as dependency(3.0.4). Soon as I updated electron to the latest version, everything was working fine.
Might be there had been some issue with past electron version.

Thanks.

[2019-04-29 16:15] SteveDoesStuff opened #47 "Scratch Desktop doesn't update itself when patches available"
The website now has Scratch Desktop v1.2.1, but the v1.2.0 app I currently have installed didn't notify me of the update. Our organization has it installed on a few hundred laptops, so would like to avoid having to download the full app and replacing it on all of our machines with every update.

[2019-04-29 16:23] SteveDoesStuff opened #48 "Some sprites don't load and cause dragging issue"
A handful of sprites don't load when they are selected, including "Dinosaur5" and "Glass Water". As a side effect, any sprites currently in the project cannot be dragged even after starting a new project.

[2019-05-06 06:06] PeaceInDream commented on #45
you maybe lost one step. In the scratch-gui folder , You also have to run: set BUILD_MODE=dist && npm run build , after all these ,you can continue to run: npm link ……

[2019-05-06 08:58] houcy opened #49 "npm run dist failed"
I run below commands:
1.git clone scratch-gui && cd scratch-gui && git checkout -b scratch-desktop && npm install && BUILD_MODE=dist npm run build （this step succeed）&& npm link
Everything is fine under scratch-gui folder.

2.git clone scratch-desktop && cd scratch-desktop && npm install && npm link scratch-gui && npm run dist (**failed**)

The last step under scratch-desktop folder failed with be

[2019-05-07 11:12] #46 closed, assigned to nobody

[2019-05-09 07:40] Mixaz017 opened #50 "Unable to select multiple files when uploading files"
When uploading some costumes, sounds etc., I can't select multiple files in dialog.
This feature is supported in browser version.

This problem can be easily fixed by adding the "multiSelections" option to argument of dialog.showOpenDialog(). [Here's official documentation about Electron's dialog.showOpenDialog()](https://electronjs.org/docs/api/dialog#dialogshowopendialogbrowserwindow-options-cal

[2019-05-10 16:47] ntlrsk opened #51 "tutorials appear blank on Scratch Desktop - suggestion to add thumbnail"
For Scratch Desktop, the tutorials show as blank after selected because the videos are not available.
Suggested change: replace videos with the thumbnail image for the tutorial (similar to 2.0).

This would be for any tutorial that has gifs after the video. Currently that is the first 10 tutorials:  Getting Started, Create Animations that Talk, Animate an Adventure Game, Animate a Name, Make Music

[2019-05-10 16:52] ntlrsk commented on #51
cc: @kosiecki17 @SpeakkVisually

[2019-05-14 02:12] ntlrsk opened #52 "add wireless icon to indicate that Bluetooth extensions require wireless"
Currently Scratch Desktop does not indicate that the Bluetooth extensions (e.g., micro:bit, LEGO Mindstorms) also require wireless to work.

Adding the wireless extension next to the Bluetooth icon would make this clear.

![image](https://user-images.githubusercontent.com/4721032/57665950-16ee3980-75cc-11e9-8259-bb677b2727ce.png)

[2019-05-14 02:17] ntlrsk commented on #52
Ideally this would happen before Scratch Desktop is disseminated more broadly to 35 countries for Africa Code Week. Broad dissemination of Scratch Desktop on USB drives starts in July 2019.

[2019-05-15 09:35] apple502j commented on #52
@thisandagain s said the new version will be out soon, meaning this will come before July!

see also LLK/scratch-gui#4641

[2019-05-16 14:14] #45 closed, assigned to nobody

[2019-05-16 18:36] cwillisf commented on #47
Our current strategy is to rely on the auto-update mechanisms built into the Mac App Store and the Microsoft Store. We release both the Store and direct-download versions at roughly the same time so using the Store versions will allow the individual system(s) to keep the app up to date.

We found with Scratch 2.0 that there are quite a few organizations which use the "offline" editor in situations

[2019-05-16 18:36] #47 closed, assigned to nobody

[2019-05-16 18:54] SteveDoesStuff commented on #47
Awesome, thanks for the response on that Chris. I didn't realize Scratch Desktop was on the app stores, so we'll migrate over to installing and updating through that

[2019-05-16 19:14] cwillisf commented on #49
The `git checkout -b scratch-desktop` command creates a new branch called `scratch-desktop`. To use the existing branch called `scratch-desktop`, remove the `-b`:
[code]

[2019-05-16 19:14] #49 closed, assigned to nobody

[2019-05-16 19:22] cwillisf commented on #44
Building `dist` on macOS requires developer certificates. If you haven't signed up for a macOS developer account and installed the relevant certificates you'll be able to debug but you won't be able to build packages.

[2019-05-16 19:22] #44 closed, assigned to nobody

[2019-05-16 19:24] cwillisf commented on #43
Please follow the instructions here: https://github.com/LLK/scratch-gui#getting-another-repo-to-point-to-this-code

Remember to use the `scratch-desktop` branch or `scratch-gui` instead of the default `develop` branch.

[2019-05-16 19:24] #43 closed, assigned to nobody

[2019-05-16 19:26] cwillisf commented on #38
The instructions are here: https://github.com/LLK/scratch-desktop#prepare-scratch-gui

[2019-05-16 19:26] #38 closed, assigned to nobody

[2019-05-18 13:23] Ascor8522 commented on #52
The wireless icon stands for internet connection.
These extensions can be used in offline mode, so no need for the icon, unlike the translate/text to speech extension.
See https://github.com/LLK/scratch-desktop/issues/31

By the way, Bluetooth is already "wireless" in some kind, there is no "Bluetooth wire".

[2019-05-18 19:12] towerofnix commented on #52
@Smrman until #31 as you linked is resolved, doesn't that mean that an internet connection *is* required for these extensions?

[2019-05-19 17:39] CmdrNorthpaw opened #53 "wdm failed to compile error when building on Mac"
I am building Scratch Desktop on my Mac, but when I run `npm start` it throws a WDM: failed to compile error. Here are the steps I followed to build the app:

1. I `git clone`d scratch-gui and scratch-desktop
2. I ran `cd scratch-gui` and then `npm install` to installed all the dependencies
3. I ran `git checkout scratch-desktop`
4. I did the `Build_Mode=dist...` thing, but it threw an error, so I

[2019-05-20 16:23] Timurinyo commented on #31
Is it possible to fix this before 24th of May? We have an Olympiad in robotics in Ukraine for more than 200 kids using Scratch 3.0 to program their WeDo 2.0 robots. Parents are going to use WiFi hotspots on their phones to let kids connect to robots, but that seems to become a disaster.

[2019-05-20 16:35] towerofnix commented on #31
^ Ping @thisandagain!

@Timurinyo you may be best contacting the ST through [Contact Us](https://scratch.mit.edu/contact-us/) and sharing the ticket number with thisandagain [through Scratch](https://scratch.mit.edu/users/thisandagain/). I'm not entirely sure that the ST reads every comment immediately, and... well, it'd need to be seen quite immediately, since the 24th of May is just four days aw

[2019-05-20 17:32] thisandagain commented on #31
@Timurinyo Unfortunately this is a fairly complex issue that will take quite a bit of time to resolve and will not be done in time for your event.

My apologies, but I hope we can help make this better in the future!

[2019-05-21 09:07] Timurinyo commented on #31
Maybe you can suggest some temporary fix? For example some little snippet that will resolve the name instead of DNS?

[2019-05-21 20:04] cwillisf commented on #31
@Timurinyo for this to work correctly, `device-manager.scratch.mit.edu` must resolve to an IPv4 loopback address. Depending on your operating system you may be able to adjust a `hosts` file to make this happen, but doing so is not officially supported by the Scratch Team. Modify your `hosts` file at your own risk!

[2019-05-21 20:11] BryceLTaylor opened #54 "Sometimes the first time the application runs after install, the stage is blank"
Sometimes, on one particular older Windows 10 machine, when you first install Scratch Desktop over an older version it appears with the stage blank except for a frowny face.

![image1](https://user-images.githubusercontent.com/1088291/58127201-d3568980-7be2-11e9-8ca6-be3eef1c092c.png)

I'm not sure if the saving over an older version matters.

This was originally discovered by @carljbowman.  Here

[2019-05-21 20:30] cwillisf commented on #52
Unfortunately because of #31 Scratch Link itself requires an Internet connection for normal usage, which implies that hardware extensions require an Internet connection as well. That's true in all of Scratch, though it's more noticeable in Scratch Desktop since not many people go to the Scratch web site and then immediately turn off their Internet connection ;)

@ntlrsk do you think we need to inc

[2019-05-21 20:47] towerofnix commented on #52
OK, this is super offtopic, but I *did* make a project which detects exactly that case :) https://scratch.mit.edu/projects/306712705/

[2019-05-21 21:10] ntlrsk commented on #52
@cwillisf It would be very helpful to have a warning on the online version too. In South Africa, the microbit and separately the LEGO Mindstorms connections to the hardware kept dropping, and we couldn't figure out why since Bluetooth was working. This happened on a wireless hotspot as well as the wireless network in the Clubhouse space.

[2019-05-22 04:26] ntlrsk commented on #52
@cwillisf From what I now understand ScratchLink keeps polling for an IP address and that could eventually be changed?

[2019-05-22 04:47] cwillisf commented on #52
@ntlrsk close. Scratch Link acts like a server waiting for a connection from Scratch. Scratch keeps polling for a connection until it finds Scratch Link, in case you don't have Scratch Link running when you start your project or add a hardware extension.

To be precise, the connection between the two is a Secure WebSocket (WSS) connection that's made from Scratch to Scratch Link over a loopback ad

[2019-05-22 07:17] Timurinyo commented on #31
@cwillisf It worked. Thanks for being so helpful!

[2019-05-22 18:13] cwillisf commented on #52
Moved to LLK/scratch-gui#4839

[2019-05-22 18:19] cwillisf commented on #52
Oops! This is already done in scratch-gui so all we need to do is release a new version of Scratch Desktop which includes the updated GUI. I'll reopen this as a placeholder for that release but it should happen very soon.

[2019-06-20 07:18] y05s commented on #31
Hi this is my first post of GitHub.
I'm @y05s from scratch3.0 thread, discussing about "scratch link never work on my local network".
https://scratch.mit.edu/discuss/topic/354657/?page=1#post-3597312
I've just solved my issue above, and this Github thread was much useful for me. I have to say thank you so much!!!

To prevent security risk, latest DNS masquerade service is rejecting to map to priva

[2019-06-26 08:04] apple502j opened #55 "Desktop 3.4 not signed"
Scratch Desktop 3.4 installer .exe is not signed as of today.

[2019-06-26 18:46] cwillisf commented on #55
Good catch! Fixing...

[2019-06-26 20:21] cwillisf commented on #55
Fixed; new build uploaded. Thanks!

I also updated my build script to give me an error in this situation instead of just silently skipping the signature step.

[2019-06-26 20:21] #55 closed, assigned to cwillisf

[2019-07-02 15:14] SteveDoesStuff commented on #48
v3.4 seems to have resolved this. Thanks!

[2019-07-02 15:14] #48 closed, assigned to nobody

[2019-07-02 15:34] SteveDoesStuff opened #56 "On new project, some block options update and others don't"
Some blocks with options (dropdown lists) will reset to a default when a new project is started, but others will stay as the last used option. The difference seems to be between the rounded and squared options - ie. Go To [option] has a rounded option and will reset, while Set Rotation Style [option] has a squared option and doesn't reset.
This has been an issue for us teaching younger children, f

[2019-07-02 17:58] paulkaplan opened #57 "Some telemetry params are not initialized"
There are a couple of params that control how the telemetry system behaves, but it looks like they are not actually initialized to their values claimed in the documentation:

https://github.com/LLK/scratch-desktop/blob/4bd7204c6350b59fb8cb9bfdc7aba23d1163a618/src/main/telemetry/TelemetryClient.js#L223

`_attemptsLimit` is one example, another is the `queueLimit` property.

This probably leads to a

[2019-07-08 18:14] ntlrsk commented on #51
I see this has been completed in the latest version. Thank you!

[2019-07-08 18:14] #51 closed, assigned to nobody

[2019-07-08 18:17] ntlrsk commented on #23
+1 The ability to easily see which Scratch Desktop version is running was just requested by Ade who organizes Africa Code Week in many different countries.

[2019-07-08 19:03] thisandagain commented on #23
@ntlrsk Noted! Added to @cwillisf plate for after he gets through a few high-priority items we have in process right now.

[2019-07-10 15:51] #57 closed, assigned to nobody

[2019-07-11 23:25] cwillisf opened #59 "Scratch Desktop can take a long time to appear after launch"
Expected behavior: Scratch Desktop should display a splash screen or loading screen ASAP after launch

Actual behavior: Depending on the computer it can take more than 20 seconds for the Scratch Desktop window to appear. Even on a relatively fast computer it can take more than 5 seconds. This can lead the user to believe something has gone wrong, and they may attempt to launch the application mult

[2019-07-15 09:17] wangpengli opened #61 "why the scratch desktop 3.0's menu and icon font display not clear?"
I use the scratch desktop 3.0 and found the font in the UI (menu  or the icon 's) display not clear, why ? Is it related with the UI library or technology which the scratch depend to ?

[2019-07-15 10:39] benjiwheeler commented on #61
Sorry you're running into trouble! Could you explain what you mean by "not clear"? Maybe add a screenshot?

[2019-07-15 12:38] wangpengli commented on #61
![scratch-screenshot](https://user-images.githubusercontent.com/6119661/61216613-59ed9a00-a740-11e9-96e9-112ff00e7402.png)

pls see above picture, and you can see another :

http://flow.m5stack.com/

![other-block's ui](https://user-images.githubusercontent.com/6119661/61216659-7be71c80-a740-11e9-9b0e-123e01ec55d8.png)

[2019-07-15 20:11] cwillisf opened #62 "Telemetry: file name not reported correctly on `project::save` event"
Expected: The `project::save` event should include the file name chosen during save.

Actual: The `project::save` event includes the project title as it was before the save. If the project has not been saved before, this is always a localized form of "Scratch Project" -- the default project title.

[2019-07-18 00:22] cwillisf opened #63 "Telemetry: project metadata is not structured correctly"
Expected: Telemetry events should be structured as shown in this partial example:
[code]

Actual: Telemetry events are being structured more like this partial example:
[code]

Specifically, the fields which should be in a `metadata` sub-object are instead being placed in the main telemetry event object.

[2019-07-18 18:49] thisandagain commented on #14
We are getting lots of reports from users on Windows that they are having trouble opening projects. I *believe* this issue is the root cause, but we should discuss. Scheduling this as "critical" for August.

[2019-07-24 16:12] ntlrsk opened #65 "show save button in main interface, not just in File menu"
~We have received feedback that the way Save prompts for a new filename (and enters Untitled) each time is difficult for students to manage. Is there any way once a filename is entered that Save remembers it and saves to that file (like in 2.0)? Or that it types the filename in the dialog?~
(Fixed as a side effect of #64)

Also, having Save appear in the interface rather than only on the pull-down

[2019-07-24 18:56] #62 closed, assigned to cwillisf

[2019-07-24 18:56] #63 closed, assigned to cwillisf

[2019-07-26 11:01] ntlrsk commented on #23
Just adding that Ade who organizes Africa Code Week in SAP said yesterday this would be extremely helpful if possible to add for August update as he tries to support the Africa Code Week ambassadors.

[2019-07-27 06:47] #59 closed, assigned to cwillisf

[2019-07-29 00:38] #23 closed

[2019-07-29 22:04] cwillisf commented on #36
Fixed by 1de581d01d7148f8dc89ea65d17298523692edc0

[2019-07-29 22:04] #36 closed

[2019-07-29 22:05] cwillisf commented on #34
Fixed as a side effect of #64

[2019-07-29 22:05] #34 closed

[2019-07-29 22:07] cwillisf commented on #2
Scratch Desktop updated to a post-preview version of the GUI a while ago, so this is no longer an issue.

[2019-07-29 22:07] #2 closed

[2019-07-29 22:13] cwillisf commented on #53
Hi! To help us figure out what's going wrong, could you please either copy & paste the first error that you see, or post a screenshot of it? If it's a long error message, make sure to include the top of it. Thanks!

I would also recommend running `npm link` in `scratch-gui` and `npm link scratch-gui` in `scratch-desktop`. That's the easiest way to make the "Prepare `scratch-gui`" steps work correc

[2019-07-29 22:24] cwillisf commented on #53
I just added a "quick start" section to the "Prepare `scratch-gui`" part of the documentation. Hopefully following this sequence will fix the build for you: https://github.com/LLK/scratch-desktop#prepare-scratch-gui-quick-start

[2019-07-30 02:41] apple502j commented on #14
May have something to do with:
`HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\ComDlg32\OpenSavePidlMRU`
![image](https://user-images.githubusercontent.com/33279053/62096469-bca57080-b2be-11e9-83df-d7cc93996537.png)

[2019-08-06 19:30] cwillisf commented on #32
This affects Windows too. We should set up file associations with SB3 and maybe SB2 / SB:
https://www.electron.build/configuration/configuration#PlatformSpecificBuildOptions-fileAssociations

[2019-08-06 19:41] cwillisf opened #68 "We should use a controlled environment for release builds"
### Expected Behavior

Our release builds should be done in a clean, known environment to ensure consistency and correctness. There are several options for how to accomplish this, including continuous integration servers, containers, and more.

### Actual Behavior

Right now they are done in a developer's working environment which introduces opportunity for problems like #55 or building against th

[2019-08-06 19:45] cwillisf commented on #65
The first part of this was fixed in our recent 3.5.0 release! 🎉

With that in mind, I'm trimming this issue to represent just the second request. I think we'll need some design discussion around that.

[2019-08-06 19:49] cwillisf commented on #53
Hopefully the "quick start" section helps anyone who's still having this kind of trouble. If this continues to be a problem we can reopen this issue but for now I'll close it.

[2019-08-06 19:49] #53 closed, assigned to nobody

[2019-08-06 19:57] cwillisf commented on #14
Has there been enough time to tell if you've seen a change in the rate of reports of this kind of problem since the launch of 3.5.0? I'll try a few more things to repro but currently I don't see anything that seems like it could cause this. It does seem like #32 could be seen as "trouble opening projects" though.

[2019-08-07 00:56] ysun opened #69 "failed to 'npm run fetch'"
I'm behind a corperation local network. So i have a access internet via proxy.
I can npm install successfully. But when I run 'npm run fetch' I got following error info:
[code]

[2019-08-07 19:08] cwillisf commented on #69
Interesting. Could you try this command and post any error messages you see?
[code]

[2019-08-10 13:23] ysun commented on #69
Hi cwillisf,

root@pc: /home/scratch-desktop# node ./scripts/fetchMediaLibraryAssets.js
[code]
I have to access internet via a proxy, and have setting:
[code]
`npm install` and `npm run build` worked well with above config.

Do you have any alternative IP address or some other workaround solution?
It doesn't make sense why `npm fetch` needs access a server?

[2019-08-10 18:06] ysun commented on #69
Looked into the issue.  If I deleted all code in function `fetchAsset`, the block issue could be skipped.
From that script, `ASSET_HOST = 'cdn.assets.scratch.mit.edu'`, I suspect that that IP is blocked on my side. Could you provide a non-cdn server ?

[2019-08-13 14:40] ysun commented on #69
Hi cwillisf,
Any comments?
So long as it skipped fetching something from server '151.101.230.133:443', the building can complete successfully.
Could you put those necessary 'MediaLibraryAssets' into the Scratch-gui repo? Or you provide an link where we can download an offline package.
I think all PRC guys can meet the same issue.

[2019-08-21 03:30] ysun commented on #69
Hi Scrach team, any support or comments for that ?

[2019-08-28 19:34] cwillisf commented on #69
Hmm... it might work to use this instead: `ASSET_HOST = 'assets.scratch.mit.edu'`

If that works for you, please let me know. I can at least add comments to the script for people who run into this kind of trouble.

[2019-08-29 07:19] mikixu opened #70 "Get an err when run in development mode with npm start"
After prepare media library assets, I run the "npm start" in the scratch-desktop, the electron-vue comes out but with an error just like this
![image](https://user-images.githubusercontent.com/50007013/63918779-f1e4e000-ca6f-11e9-8dab-b51dcb8973bb.png)
When come into the compose.js?235c:29
![image](https://user-images.githubusercontent.com/50007013/63918867-248ed880-ca70-11e9-8984-334f190b83f4.png

[2019-09-03 15:14] ysun commented on #69
Thanks for your reply. But by changing ASSET_HOST to 'assets.scratch.mit.edu', the issue is still there:

[code]

[2019-09-05 15:07] BryceLTaylor opened #71 "File>New makes leaves the name of the previous project in the title field"
If you load a project it shows the name of the project in the title field.  If you then choose File>new it shows a blank project, but the title field still shows the name of the previous project.  The title field should change to the default project title.

[2019-09-05 17:50] thisandagain commented on #35
@cwillisf Moving this into the September milestone based on some recent conversations with school administrators that have highlighted the urgency of this. Let's discuss.

/cc @ChampikaF @dietbacon

[2019-09-08 21:35] MrYsLab commented on #70
I am getting the same error. I use cygwin on Windows 10 to do the build. Here are my build steps:

Using cygwin, create a directory called scratch3.
2. cd into scratch3.
3. git clone  https://github.com/llk/scratch-gui.git
4. git clone  https://github.com/llk/scratch-desktop.git
5. cd scratch-gui
6. npm install
7. npm link
8. cd ../scratch-desktop
9. npm link scratch-gui
10. npm run build-gui
11.

[2019-09-10 22:28] cwillisf commented on #71
@paulkaplan @rschamp @benjiwheeler or anyone else: do you have thoughts on how to handle this? I'm also wondering if there's a similar issue on any other platforms...

I tried to hook `onProjectLoaded` but that didn't seem to be the right moment. Also, I would have expected this to "just work" based on the existing interactions between `TitledHOC` and `AppStateHOC` but maybe I don't have something

[2019-09-11 09:46] apple502j commented on #71
Can't we solve this GUI side?

[2019-09-12 18:53] cwillisf commented on #71
Possibly related to, or the same as, LLK/scratch-gui#3433

[2019-09-13 13:24] apple502j opened #72 "Downloading non-project assets raise error and change title"
![image](https://user-images.githubusercontent.com/33279053/64865541-7a6c9e80-d674-11e9-94fa-de97c42d8a5a.png)
then... I got the project title "sprite1"

Occurs on 3.6.0, not on GUI web version.

[2019-09-13 13:33] apple502j commented on #72
Identified the problem and made a hotfix PR: #73
@cwillisf

[2019-09-15 15:23] dawnworld opened #75 "Failed to npm install"
npm install was hang on 7zip
[code]
Mac OSX 10.14.6
npm 6.4.1
node v10.15.3
git lastest commit
[code]

[2019-09-16 18:58] cwillisf commented on #75
Hmm... it looks like this is not a problem with scratch-desktop, but instead it's a problem with NPM on your computer or your network connection. You may need a proxy setting for NPM to work correctly.

See here for more information:
npm/npm#14059

[2019-09-16 18:58] #75 closed, assigned to nobody

[2019-09-16 19:15] cwillisf commented on #69
Unfortunately you'll need access to either `cdn.assets.scratch.mit.edu` or `assets.scratch.mit.edu` for this to work. We may eventually create a repository containing our media library assets, but doing so is not in our short-term plans.

If your network environment specifically blocks HTTPS, it might work to replace `const https = require('https');`, near the top of the file, with `const https =

[2019-09-16 19:57] #72 closed, assigned to cwillisf

[2019-09-16 23:10] NoozAbooz opened #78 "Scratch Desktop not working on Raspberry Pi"
When I load a file on a raspberry pi 3B, it just shows the new project screen.

[2019-09-17 06:33] ysun commented on #69
Unfortunately, changing https to http is NOT helpful.
I have no idea how to workaround it, maybe I have to wait for the media lib assets repo. :(
Anyway, thanks for your info & time, Chris.

[2019-10-07 01:28] Xorzist opened #79 "npm start results in a "is not recognized as an internal or external command""
I have followed the tutorial on setting up and running scratch-desktop  :
1. Create a folder using Windows PowerShell
2. cd into created folder.
3. git clone https://github.com/llk/scratch-gui.git
4. git clone https://github.com/llk/scratch-desktop.git
5. cd scratch-gui
6. npm install
7. npm link
8. cd ../scratch-desktop
9. npm link scratch-gui
10. npm run build-gui
11. npm run fetch
12. npm start

[2019-10-08 16:12] #79 closed, assigned to nobody

[2019-10-12 09:11] ercasta opened #80 "Error after exporting costume"
After exporting a costume, i get the following error:

Uncaught Exception
TypeError: Cannot set property projectName of null at (...something referring DesktopTelemetry) projectSaveCompleted

The costume is actually exported after I click the "OK" button on the error.

I also noticed that the project name gets overwritten with the exported file name.

Scratch Desktop Version 3.6.0
Electron | 4.2.9

[2019-10-12 13:21] apple502j commented on #80
Duplicate of #72
Fixed in #77

[2019-10-13 10:37] apple502j opened #81 "Should Scratch Desktop respect the GPU blacklist?"
Title says all. Ignoring blacklist will solve the problems about WebGL (in this case, browser can return "WebGL is supported", so it was confusing whether WebGL is really supported), but it's crashy.

[2019-10-15 07:27] 10wjfang commented on #70
you can look in the scratch-desktop: \src\renderer\app.jsx, this file has `import GUI, {AppStateHOC, TitledHOC} from 'scratch-gui';`, but in the scratch-gui,  \src\index.js without the `TitledHOC`. you can add import code at this file. like this:
[code]

run `npm run build-gui` and `npm start`.

[2019-10-25 13:38] martinohanlon commented on #78
This is probably because of a lack of RAM.

A Pi 4 with 2GB of RAM is recommended. https://www.raspberrypi.org/blog/scratch-3-desktop-for-raspbian-on-raspberry-pi/

I had very mixed when testing on a 1GB Pi. Depending on what other software was running, it quite often didnt start or performed really badly.

If you start-up Scratch 3 from the command line, rather than the menu, using `scratch3`, it

[2019-11-19 01:08] ecc521 commented on #81
How about providing a warning message during startup - something like "Your GPU does not appear to support WebGL. We will try running scratch anyway, but serious bugs and glitches may occur"?

[2019-11-19 01:22] ecc521 opened #87 "WebGL incorrectly "Not Supported" over VNC connection"
### Expected Behavior
Scratch desktop should open and run

### Actual Behavior
Scratch desktop opens, and displays "WebGL Not Supported"

### Steps to Reproduce

Remote Desktop into the raspberry pi (I used [Raspberry-Pi-Remote-Desktop-macOS](https://github.com/ecc521/Raspberry-Pi-Remote-Desktop-macOS))

Open Scratch Desktop (Error: WebGL Not Supported)

**Q: Could this be an issue with the Remote

[2019-11-26 19:13] fsih opened #88 "When you upload a broken SVG, the question mark asset is missing"
### Expected Behavior
It usually shows a box with a question mark

### Actual Behavior
The thumbnails are broken images and nothing shows up on stage

### Steps to Reproduce
Here is the canonical malformed svg
[badnamespace.svg.zip](https://github.com/LLK/scratch-desktop/files/3893621/badnamespace.svg.zip)

### Operating System and Browser
Desktop mac

[2019-12-02 06:31] cuixiping commented on #61
I had the same problem, and solved it by modifying the internal code to enlarge the font size.

[2019-12-02 21:36] benjiwheeler commented on #61
@wangpengli and @cuixiping, sorry you're running into this problem. Could you say more about your setups? What operating system and browser are you using? What are the pixel dimensions of your windows?

[2019-12-03 02:57] cuixiping commented on #61
@benjiwheeler OS: windows 7.  Display: 96DPI.
I Use Chrome's "Zoom in" to enlarge page when using scratch online.
I modified internal code to enlarge page when using scratch desktop (v3.6.0).

[2019-12-03 03:50] cuixiping opened #89 "Color number is hard to understand and does not match the wiki article"
### Expected Behavior

Color value matches the wiki article "[Computer Colors][1]"

### Actual Behavior

Color value is hard to understand and does not match the wiki article "[Computer Colors][1]"

### Operating System and Browser

It has nothing to do with the operating system and browser version.

### Steps to Reproduce

Set pen color to different values and draw.

![Color values](https://user-

[2019-12-03 04:27] apple502j commented on #89
Did you use the one with color picker or number input? IIRC color input one works

[2019-12-03 05:39] cuixiping commented on #89
This issue is about number input.

[2019-12-03 05:41] cuixiping commented on #89
I reported the issue to scratch-gui [#5324](https://github.com/LLK/scratch-gui/issues/5324). This one should be closed.

[2019-12-04 15:35] #89 closed, assigned to nobody

[2019-12-10 11:49] caxapexac opened #90 "Electron call from gui"
I want to require('electron') in scratch_vm to call main electron process from block logic. But scratch-gui and scratch-vm are devDependencies and not a part of electron (maybe I'm wrong).

My question is 'how to call child_process from scratch_vm?'

[2019-12-10 11:51] caxapexac commented on #90
My aim was to call arduino.exe from scratch-gui/vm

[2019-12-10 14:04] apple502j commented on #90
You can modify GUI and VM so that:
- VM emits CONNECT_ARDUINO event
- GUI handles it and does props.onArduinoEvent
- Desktop passes a function to onArduinoEvent

[2019-12-10 14:19] caxapexac commented on #90
Can you give me minimal example emitting code? Didn't work with it
And what is 'props'?

[2019-12-10 15:00] apple502j commented on #90
Looking at the code is a good way to learn. For example, ask-and-wait block emits QUESTION event. Search and see how to use it. Also, you should learn a bit of React (including props)

[2019-12-10 15:05] caxapexac commented on #90
@apple502j ouf really, thank you)
But do you know QUESTION event handling place in scratch-gui?

[2019-12-10 15:13] caxapexac commented on #90
And one more problem - scratch_sensing.js gets runtime in constructor but my code is an extension (without constructor). Then how to get runtime in extension code?

[2019-12-10 15:56] apple502j commented on #90
Extension constructor can have runtime argument?
https://github.com/LLK/scratch-vm/blob/develop/src/extensions/scratch3_boost/index.js#L1273

[2019-12-14 13:58] caxapexac commented on #90
@apple502j so I have learned basics of electron/react/redux but scratch repos structure is so complicated so I don't see place to handle vm events in gui.

Sensing blocks  emit SAY and QUESTION events but I don't see it in scratch-gui (ctrl+f didn't help)

[2019-12-14 14:11] caxapexac commented on #90
@apple502j I mean, src/containers/stage.jsx on the line 103 but it's in ComponentWillUnmount function. I don't have any idea of what it is and who calls this

[2019-12-14 15:11] apple502j commented on #90
Scratch 3.0 is full of React codes. Google componentWillUnmount for what it does.

[2019-12-15 11:14] caxapexac commented on #90
@apple502j so I do
`this.runtime.emit('L_EVENT', '*****');`
in the vm/src/extensions/myext/index.js
and
`this.props.vm.on('L_EVENT', this.logfunc);`
in the gui/src/containers/blocks.jsx in ComponentDidMount
and it doesn't work. I really need to understand how do they connect (desktop-gui-vm) because there is no info in the documentation/tutorials about separating react in many repos with devDepend

[2019-12-15 11:58] apple502j commented on #90
Do you know props? It's super handy. It allows you to pass something to a component - internally or externally. For example, container/gui.jsx has so many props and those are set by external programs (such as `isScratchDesktop` which is set by Scratch Desktop app.jsx) and you can refer it as `this.props.isScratchDesktop` inside that file. (So you can `this.props.vm.on("L_EVENT", this.props.callArd

[2019-12-15 12:46] caxapexac commented on #90
@apple502j but where should I place `this.props.vm.on("L_EVENT", this.props.callArduino)`? In controllers/reducers/index.js?

UPD: or maybe it shold be `this.props.vm.runtime.on()`?

[2019-12-15 13:16] apple502j commented on #90
containers/gui.jsx would be fine.

[2019-12-15 14:47] caxapexac commented on #90
Finally did it! @apple502j really thank you! I wanna buy you coffee how to pay?

[2019-12-20 17:33] caxapexac commented on #90
So problem solved I close it...

[2019-12-20 17:33] #90 closed, assigned to nobody

[2019-12-20 20:42] refi64 opened #91 "Forgot to tag 3.7.0?"
I noticed it appears to have been released, but no new tag has been added.

[2019-12-21 02:22] apple502j commented on #91
Not released yet, actually. https://downloads.scratch.mit.edu/desktop/Scratch%20Desktop%20Setup%203.7.0.exe is 404

[2019-12-21 05:16] refi64 commented on #91
Touché, I saw the commit and then the gap and figured it must've been released already. Sorry for the noise.

[2019-12-21 05:16] #91 closed, assigned to nobody

[2019-12-23 20:31] cwillisf commented on #91
No worries - thanks for keeping us honest :D

In case you're curious, the trouble is electron/electron#20027

I believe I have a workaround (based on  electron/electron#20970) but it needs more testing. Many members of the Scratch Team are taking vacation this week and/or next week, so we'll take another look at this in early January.

[2020-01-06 20:28] benjiwheeler commented on #71
This should be fixed by https://github.com/LLK/scratch-gui/pull/5291 , whenever those GUI changes are pulled in here.

[2020-01-14 15:37] paulkaplan opened #92 "Libraries should expect 3.0 format"
We are in the process of updating the libraries to use the 3.0 sprite format instead of the current 2.0 one. The transition for GUI related things is tracked LLK/scratch-gui#5084, but we will also need to modify the asset fetching script, and any other code that relies on the json format.

To avoid dependency issues, this would ideally be implemented in a way where it could support either format.

[2020-01-15 18:46] #92 closed, assigned to nobody

[2020-01-21 19:38] cwillisf opened #97 "There should be a way to view a privacy policy within the app"
### Expected Behavior

It should be possible for a user to view the app's privacy policy inside the app itself, without an Internet connection. This is now required by the Microsoft Store, but in hindsight it's also just a good idea.

### Actual Behavior

The only privacy policy information displayed by the app is on the initial telemetry opt-in/out dialog, which in most cases only appears the fir

[2020-01-30 18:10] cwillisf opened #99 "Telemetry modal doesn't appear"
### Expected Behavior

The first time Scratch Desktop runs, a dialog should appear asking the user to opt in or opt out of telemetry.

### Actual Behavior

The dialog never appears and the opt-in state remains undefined. On the plus side, Scratch Desktop does not transmit telemetry in this state.

### Steps to Reproduce

1. If you have run Scratch Desktop before, remove its internal settings & cac

[2020-01-30 19:01] cwillisf commented on #97
While working on the technical aspects of this (opening a new window, etc.) it became clear that there are some design questions we should discuss. Basically, how should the user get to the privacy policy?

The options that first come to my mind are:

1. Add a link into the current "About" window, or
2. Add an option under one of our current menus (maybe under the "File" menu?), or
3. Add a new me

[2020-01-30 19:11] cwillisf commented on #97
@carljbowman @kathymakes: I would love your input on the design thoughts above, including:

- Should the user get to the privacy policy by clicking the Scratch logo, a new item in an existing menu, or a new menu?
- If it's by clicking the Scratch logo:
   - Should the logo first open the current "About" window, which would contain a link to the privacy policy?
   - If so, how should that link be p

[2020-01-30 20:11] carljbowman commented on #97
This is great! Thank's @cwillisf for outlining all these ideas! Certainly thought of the macOS route and, similar to your note, I was like "nope there is nothing equivocate on Windows."

**Menu Thoughts**
I agree that the direction of clicking the Scratch logo feels a little obscure. At first I was thinking about adding an "About Scratch" menu item under "File" (e.g. "File > About Scratch"), but w

[2020-01-31 19:33] cwillisf opened #100 "We should disable Node integration in browser windows"
### Expected Behavior

Node integration should be disabled for all browser windows. Code which needs to use Node features can do so through a preload script. This isn't critical since Scratch Desktop generally doesn't display any remote content, but it wouldn't hurt to be extra careful.

### Actual Behavior

Node integration is enabled on all browser windows.

### See also

- https://www.electronj

[2020-02-01 12:06] westurner commented on #78
Does the web-based scratch-gui work with 1GB of RAM? i.e. with a browser with tabs instead of electron.

This appears to work:

[code]
But it doesn't work offline; presumably because the assets are hosted on https://assets.scratch.mit.edu .
Is there a way to host these locally and specify that e.g. ``assetHost: '../', projectHost: '$localhost:$port'`` ?

See also: "Can't install on Pi3B+" https://

[2020-02-03 23:26] cwillisf commented on #97
@carljbowman @kathymakes any preference between these two icons? Also, do you think the size, margins, etc. look good? I tried to match the margin on the other side of the Scratch logo. Thanks for your input!

![image](https://user-images.githubusercontent.com/7019101/73699421-9959e480-4698-11ea-9715-212f5c9b9e2e.png)

![image](https://user-images.githubusercontent.com/7019101/73699577-07061080-46

[2020-02-04 19:36] benjiwheeler opened #102 "Telemetry cache reset instructions should be in README"
The instructions for how to develop the telemetry functionality should be in the README. This includes cache reset instructions as here: https://github.com/LLK/scratch-desktop/issues/99#issue-557663998

[2020-02-05 15:11] carljbowman commented on #97
@cwillisf - It would be good to make the proportions similar to the "My Stuff" icon in the online editor. The dark blue is a result of hovering over the button, but thought it might be helpful to see.
<img width="89" alt="Screen Shot 2020-02-05 at 9 57 50 AM" src="https://user-images.githubusercontent.com/3409578/73853641-333ba180-47ff-11ea-820c-cde89419c434.png">

Here is a new icon that is in ou

[2020-02-19 20:48] BryceLTaylor opened #104 "There should be a way to do a "silent install" on Windows"
### Expected Behavior

The application should be able to be installed from the command line with a flag to make it install without user input.  This can help mass installs and ensuring that many machines get the same settings for network administrators.

### Actual Behavior

There's no way to do it now.  @cwillisf said: NSIS (the installer system we're using) normally supports /s for a silent inst

[2020-02-19 21:16] SteveDoesStuff opened #105 "Previous project costumes (including photos) still accessible after starting new project"
### Expected Behavior

After starting a new project in the app (File > New) the Undo button in the costumes tab would be disabled as there should be no previous state.

### Actual Behavior

After starting a new project, the Undo button in the costumes tab is active and pressing it loads the last active costume from the previous project.

This is a potential privacy issue for my work, since this co

[2020-02-19 21:26] SteveDoesStuff opened #106 "The About Scratch window cannot be closed when app is fullscreen"
### Expected Behavior

After putting Scratch Desktop in fullscreen, clicking the Scratch logo to view the About Scratch window a back or exit button should be displayed to easily navigate back to the main app.

### Actual Behavior

After putting Scratch Desktop in fullscreen, clicking the Scratch logo opens the About Scratch window also in fullscreen, with no easy way to exit or navigate back to t

[2020-02-19 21:35] SteveDoesStuff opened #107 "Existing projects not saving"
### Expected Behavior

After making changes to a previously saved project, resaving and choosing to replace the file should properly replace it with the current version.

### Actual Behavior

After making changes to a previously saved project, resaving and choosing to replace the file does not update the save file at all, and closing Scratch will lose any changes made. Saving with a new filename w

[2020-02-20 04:55] apple502j commented on #105
Should be moved to LLK/scratch-paint

[2020-02-20 10:54] apple502j commented on #105
The only time the cache is fully cleared is when the costume is switched via the costume pane, so this can be reproduced by a couple of ways:
1) Loading a new project somehow (New or Importing), and clicking Undo
2) Go to Code tab, select other sprite and switch to Costume then clicking Undo

The question is, when should it be cleared? On Scratch 2.0, the undo state is stored per-costume, so this

[2020-02-29 13:00] sobreira opened #108 "List cannot be imported on Desktop Version"
### Expected Behavior
When it is working with a list (in variable), is possible to import external data (`right-click : import`)

### Actual Behavior
Import is not showing any results - looks that data is not being transferred to electron environment

### Steps to Reproduce
* Go to https://scratch.mit.edu/projects/editor/
* Select block Variable
* Make a list (`temp`)
* Go to stage area and right-

[2020-02-29 14:43] apple502j commented on #108
`scratch-gui` sometimes uses `alert`, `confirm` or `prompt`. For example, CSV column selecting or recording alert. They should all be replaced with custom prompts.

[2020-03-03 16:51] rschamp commented on #108
@BryceLTaylor I could not reproduce on macOS, so try this out on Windows

[2020-03-03 17:35] apple502j commented on #108
Can repro on Windows 10 exe version. @rschamp Did you make sure you used CSV-like text? An example:
[code]

[2020-03-03 20:31] cwillisf opened #109 "Camera and microphone not working on macOS"
### Expected Behavior

Attempting to use the video sensing extension or sound recorder should, on macOS 10.14 and higher:
- Request permission to use the camera/microphone (at least the first time)
- Cause the application to appear in the Camera or Microphone section of "Security & Privacy" in System Preferences
- Function correctly in the application

### Actual Behavior

On macOS 10.14.6, none o

[2020-03-04 10:42] apple502j commented on #109
Useful information: https://www.electronjs.org/docs/api/system-preferences#systempreferencesaskformediaaccessmediatype-macos

[2020-03-05 04:43] cwillisf commented on #109
Testing note: as far as I can tell, once an application has been granted (or denied) permission to use the camera or microphone there's no way to make the application ask again other than to reset the permission list entirely. You can do that with `tccutil` like this:
[code]

[2020-03-05 21:30] rschamp commented on #108
Thanks @apple502j That was the issue, I just used a regular single column file. It crashes for me if I use a file with commas in it.

[2020-03-18 18:10] #109 closed, assigned to cwillisf

[2020-03-19 06:46] Geoffrey42 commented on #107
+1 to this. I am experimenting the same issue on Mac OS Catalina with the App Store application.

[2020-03-19 06:51] apple502j commented on #107
Cannot repro on Windows 10, exe version (3.9). Gonna try app store version(3.6)

[2020-03-19 07:00] apple502j commented on #107
Also, did you make sure you didn't double-click to save?

[2020-03-23 07:13] apple502j opened #112 "alert or confirm makes Scratch Desktop unable to receive input"
### Expected Behavior
You can type on input

### Actual Behavior
If alert() or confirm() is executed, you cannot type on inputs anymore, until you blur and re-focus the window. This only happens in Scratch Desktop 3.9.0.

### Steps to Reproduce
There are three ways to get into this state:
1. Do something (so that opening a project gives warning), open a project, click ok
    * Click load from comp

[2020-03-25 11:47] Ehmydev opened #113 "Failed to npm run dist"
### Expected Behavior

Build the .exe without errors

### Actual Behavior

When I run "npm run dist", the cmd act like that:

[code]

### Steps to Reproduce

Follow what the readme says

### Operating System and Browser

Windows 10 and Firefox

[2020-03-25 13:25] apple502j commented on #113
Just to make sure, did you run `npm install`?

[2020-03-25 14:04] Ehmydev commented on #113
Of course

[2020-03-30 08:11] #113 closed, assigned to nobody

[2020-04-06 11:39] johannrichard commented on #107
Kids here experienced the same problem and lost changes to their projects. I did some more testing between AppStore Version and Direct Download from MIT Website:

* **Same problem** here on MacOS Catalina 10.15.3, with Scratch Desktop 3.6.0 **from the AppStore**
* **No problem** with Scratch 3.6.0 **directly downloaded from MIT Website**

[2020-04-06 12:10] johannrichard commented on #107
Just another comment: I was wondering whether the App Store version would need to request appropriate permissions (Files & Folder permissions) due to recent changes in Catalina.

To be noted that even when giving *Full Disk Access*  to Scratch Desktop (AppStore Version), the problem persists, irrespective whether the file is saved under a user's Documents/Desktop or elsewhere (e.g. Downloads folde

[2020-04-06 13:04] apple502j commented on #107
@cwillisf critical bug (data loss). probably something in https://github.com/LLK/scratch-desktop/blob/develop/buildResources/entitlements.mas.plist

[2020-04-07 16:32] apple502j commented on #112
Repro: https://scratch.mit.edu/discuss/post/3918729/

[2020-04-08 09:05] apple502j opened #114 "Scratch Desktop can't be used on 32bit Windows"
A Scratcher Little-Earthworm reported that Scratch Desktop 3.9.0 can't be used on 32bit Windows: https://scratch.mit.edu/discuss/post/3919819/ and also said 3.6.0 works.

This change is (probably) due to a 3.7.0(unreleased) commit https://github.com/LLK/scratch-desktop/commit/d077e79a8a300b23e4074c66af7d9af14f554444 - we need to have `nsis:ia32` instead of `nsis`. (Because of WOW64 it should work

[2020-04-21 01:35] tailindu commented on #114
Can Scratch Desktop be used on   64bit Windows?

[2020-04-21 01:48] lishinian commented on #114
I compiled the 32-bit version and uploaded to my own website.
https://www.bunnyzoo.com/download.html#scratchbox

Enjoy it~ : )

[2020-04-21 02:04] tailindu commented on #114
so thank you .i have installed it ,while that is not what i want.i want  the " ftscratch3 desktop"(which is different from  scratch desktop ) , combined Fischer with scratch3.0

[2020-04-21 02:53] lishinian commented on #114
well,  i found ftscratch3's github repo. i will try to compile  the 32-bit version for U.

Hold the line~

[2020-04-21 02:58] tailindu commented on #114
All the time~~Thank you.I find your ID name"lishinan" seems like a chinese name,can you speak chinese?(再次由衷感谢你的帮助)

[2020-04-21 03:02] lishinian commented on #114
哈哈  那就用中文交流吧   我发现ftscratch3只是一个公司的产品  我不确定他们是否让我这样做

其实编译十分简单  把build的shell里面--arch=x64改成--arch=ia32即可

[2020-04-21 03:07] tailindu commented on #114
就是我们德国总部的产品，我们在国内现在要登录网站，打开网页使用，经常出现打不开网页情况。所以我们想把它做成桌面版的，或者放到国内自己服务器上。德国那边也给出了办法，我照着操作，安装失败.多少位的系统其实都不是最重要的。

[2020-04-21 03:08] tailindu commented on #114
要不加个扣扣吧，1012157429

[2020-04-21 03:12] lishinian commented on #114
已经加了  不过貌似没有通过

[2020-04-26 13:32] sobreira commented on #112
I am facing same issue.
In the original release of Scratch 3.9.0 and also when I try to compile one by myself (changing to the newest Electron version also).
However, I realize that is you switch for any application (Ctrl+tab) and back again, fix the issue.
Another option is to Minimize and Maximize again.  (which have same effect as the previous test)

[2020-04-30 11:16] sujithsomraaj commented on #75
Hello,

Try to install yarn and run yarn install. It will install all your package.json dependencies. When trying to clone from the repository and install all node modules at one time, you can try this

[2020-05-05 19:58] lvjp opened #115 "macOS App Store is not updated"
The macOS App Store version is 3.6.0 but the 3.10.2 is already packaged.

Can you update more frequently App Store ?

[2020-05-11 19:01] BryceLTaylor commented on #115
Thanks for your question.  We know that the app store is behind the direct download version.  We've had some trouble with their review process, but didn't want Scratch Desktop to get completely behind what is available online, so we have continued to update the direct download version.  Sorry for any inconvenience.

[2020-05-11 19:01] #115 closed, assigned to nobody

[2020-05-21 15:55] jeffalo opened #116 "file assiciation?"
### Expected Behavior

double clicking an sb3 file opens scratch desktop on that file

### Actual Behavior

it doesnt

### Steps to Reproduce

double click an sb3 file

### Operating System and Browser

windows 10 chrome

Perhaps scratch-desktop could be the default associated app for sb3 files so that you don't have to open it up first.

[2020-05-21 15:59] apple502j commented on #116
Duplicate of #32

[2020-05-21 19:21] cwillisf opened #117 "Discussion: Linux support"
We have a number of people asking us to provide a Linux version of Scratch Desktop. Scratch Desktop is built using Electron which has built-in support for Linux, so it should be relatively easy to build a Linux version of Scratch Desktop. That said, there are a few concerns we need to resolve first, including:

- Which method of distribution should we use on Linux? Electron supports several, inclu

[2020-05-21 19:58] #116 closed, assigned to nobody

[2020-05-22 08:22] THS-on commented on #117
I work on [Lernstick](https://www.digitale-nachhaltigkeit.unibe.ch/services_and_support/lernstick/index_eng.html) a Linux distribution that is used for schools.
It would be great for us if we could use Scratch offline.

Lernstick is based on Debian and we support [Flatpak](https://flatpak.org/), so debs or Flatpak support is ideal for us.

In my opinion a version that is not completely officially

[2020-05-23 00:29] cwillisf opened #118 "Crashing / no main window for Mac App Store reviewers"
### Expected Behavior

The Mac App Store build (aka `mas`) should behave the same as the non-Mac App Store build for macOS (aka `mac`).

### Actual Behavior

For the past several versions, Mac App Store reviewers report that the application either crashes on startup or, for builds which don't crash, the app does not create the main window.

### Operating System

macOS

[2020-05-23 00:34] cwillisf commented on #118
This appears to be related to one or both of these issues:
- electron/electron-osx-sign#223
- electron/electron#20560

[2020-05-23 00:38] cwillisf opened #119 "`mas-dev` build won't run due to invalid code signature"
### Expected Behavior

Though we can't run the `mas` build locally, we should be able to run the `mas-dev` build locally in order to test something as close to the `mas` build as possible.

To some extent this is a developer-facing feature request, but it's important because it prevents locally debugging `mas`-specific problems like #118

### Actual Behavior

The `mas-dev` build fails to launch wi

[2020-05-27 04:27] apple502j commented on #114
Reported on the forum again: https://scratch.mit.edu/discuss/post/4060658/
@cwillisf @BryceLTaylor  I think this is High/Medium impact

[2020-06-03 20:06] redstone-dev opened #122 "Scratch Desktop - Application helper uses a lot of memory (Only checked on Mac)"
### Expected Behavior

Scratch Desktop should not freeze up.

### Actual Behavior

Scratch Desktop sometimes freezes up and gets stuck. In severe cases it can even become just a blank white window.

This may seem like it happens randomly, but if you look in Activity Monitor

### Steps to Reproduce (Mac Only)
1. Press Cmd-Space and type in **Activity Monitor**.
![Step 1](https://user-images.githubu

[2020-06-03 23:09] #118 closed, assigned to cwillisf

[2020-06-03 23:09] #119 closed, assigned to cwillisf

[2020-06-03 23:36] #114 closed, assigned to nobody

[2020-06-04 00:04] cwillisf opened #121 "discussion: Windows 64-bit vs 32-bit builds"
I recently fixed #114 by changing the NSIS ("direct download") build for Windows to use a 32-bit version of Electron. However, we should discuss this situation in more detail.

Facts:
- There are both 32-bit and 64-bit installations of Windows 10 in the world. A 64-bit version of Windows can run both 32-bit and 64-bit applications, but a 32-bit version of Windows generally can't run 64-bit applica

[2020-06-04 00:05] cwillisf commented on #121
Also: should we provide a 32-bit version of the app on the Microsoft Store? Right now there doesn't seem to be much demand for it, but it's hard to know for sure.

[2020-06-08 18:32] BryceLTaylor commented on #122
@redstone2010 Do you have to do anything in particular in Scratch to use that much memory?  Is there a project you're running that you could link to?

[2020-06-08 20:27] redstone-dev commented on #122
@BryceLTaylor

I might be able to, but it's probably too large to be put on GitHub...

[2020-06-08 20:28] redstone-dev commented on #122
Whoops, accidentally closed it! LOL

[2020-06-10 20:37] BryceLTaylor commented on #122
@redstone2010 If the file is too large, could you upload it to the Scratch website and share a link to it?

[2020-06-10 22:01] redstone-dev commented on #122
Maybe. I'll see though, since the file was so large that I had to import it in Scratch Desktop.

[2020-06-11 04:20] apple502j commented on #121
Question: Can we have a installer that downloads the appropriate files from Internet? iirc Java had three downloads:
- Online installer
- Offline x86 installer
- Offline x64 installer

[2020-06-19 11:00] Tofutush opened #123 "I don't understand"
### Expected Behavior

_Please describe what should happen_

### Actual Behavior

_Describe what actually happens_

### Steps to Reproduce

_Explain what someone needs to do in order to see what's described in *Actual behavior* above_

### Operating System and Browser

_e.g. Mac OS 10.11.6 Safari 10.0_

[2020-06-19 11:02] Tofutush opened #124 "I don't understand"
Even though it says "detailed version", but I still don't quite understand how to run Scratch 3.0. Do I just download the release, or clone like you said? How do I run those "npm" stuff?

[2020-06-19 11:04] Tofutush commented on #123
sorry don't know how I made two issues.

[2020-06-19 11:04] #123 closed, assigned to nobody

[2020-06-19 11:53] apple502j commented on #124
It depends on how you run Scratch 3.0:
- On browser: see https://github.com/LLK/scratch-gui (see "Installation" and "Running" section)
- On an electron app: This is the correct version for that! see README, "Developer Instructions"

Zip download may be enough for experiments, but for proper development Git is recommended.

Also, before making a Issue, I recommend at least searching for basic knowl

[2020-06-24 15:08] cwillisf commented on #121
@apple502j that's definitely an option we should consider!

[2020-06-24 15:20] cwillisf opened #125 "Mac App Store Rejection, Symbols: _vDSP_deq22D, _vDSP_vsma"
We currently cannot deploy to the Mac App Store due to electron/electron#24247

It's currently unclear whether this will be resolved by Apple, Electron, or both, but I don't think we can reasonably do anything about it ourselves.

[2020-06-24 16:04] cwillisf opened #126 "Application name should be "Scratch""
### Expected Behavior

After some discussion we have concluded that the name "Scratch Desktop" can be confusing for users and isn't as searchable as we'd like. We've concluded that the application should be called "Scratch" instead. We'd also like to display the version number in the title bar when the app is running, like "Scratch 3.13.0" for example.

### Actual Behavior

The application is curr

[2020-06-24 16:13] cwillisf commented on #124
Hi @Tofutush! If you'd just like to run Scratch 3.0, you can either visit https://scratch.mit.edu/ to run the browser version or download the app at https://scratch.mit.edu/download/

If you'd like to change Scratch 3.0 then I recommend using `git` to clone this repository, then use `npm` and other Node.js tools to work on the code. If you haven't worked with `git` or `npm` or `node` before then S

[2020-06-24 16:13] #124 closed, assigned to nobody

[2020-06-26 19:49] BryceLTaylor commented on #14
I think most of the issues about opening projects are from #32 lately.  I'm going to close this, since I haven't heard reports of this in a while.

[2020-06-26 19:49] #14 closed

[2020-07-07 18:25] BryceLTaylor commented on #107
I've finally been able to reproduce this issue.  It turns out it is only happening with the Mac App store build.  The direct download version works just fine.  This confirms what @johannrichard said above.

[2020-07-07 19:20] BryceLTaylor commented on #112
Issue https://github.com/LLK/scratch-gui/issues/5970 has lots of good repro steps.

[2020-07-09 19:46] cwillisf commented on #125
On appeal, Apple approved this build with no changes. Looks like it might have been a mistake in their automated tools or something.

[2020-07-09 19:46] #125 closed, assigned to cwillisf

[2020-07-10 04:23] apple502j commented on #126
I'm slightly worried that if the app name is Scratch, on Windows it will be installed to `C:\Program Files (x86)\Scratch`, which overrides Scratch 1.4 installation.

[2020-07-10 17:20] cwillisf commented on #126
@apple502j yeah - there's a similar problem on macOS, with `/Applications/Scratch.app`, and even if the directory is different it might be confusing to have two "Scratch" results when searching (for example) the Start Menu.

We talked about these issues on the Scratch team and decided that it's mostly advanced users who might have both Scratch 1.4 and 3.0 installed simultaneously, and in general r

[2020-07-10 17:36] apple502j commented on #126
Can't we name it "Scratch 3.0"?

[2020-07-10 17:51] cwillisf commented on #126
The title of this issue is a little bit oversimplified... there are actually several things that we're looking at, including:
- the directory name of the application
- the file name of the application
- the name of the item in the stores (Mac App Store / Microsoft Store)
- the name we use to refer to the application in documentation or on the Scratch website
- the text appearing as the title when

[2020-07-13 08:45] kurtdevocht opened #127 "Scratch Desktop always switches back to OS language"
### Expected Behavior

When I select a language, I expect the same language to be selected the next time I start Scratch Desktop.

### Actual Behavior

Scratch Desktop always switches back to English, which is quite inconvenient in class-environments.

### Steps to Reproduce

- Start Scratch Desktop => UI is set in English
- Select another language
- Restart Scratch Destop => UI is back in English

[2020-07-13 09:19] apple502j commented on #127
Are you using macOS or Windows?

[2020-07-13 09:49] kurtdevocht commented on #127
Windows 10 -- I just discovered Scratch selects the language based on the Windows language, so I guess this behavior is by design?

[2020-07-15 14:43] bygreencn commented on #121
![image](https://user-images.githubusercontent.com/22853/87558686-f77d0000-c6eb-11ea-9da1-2ded55b6d7c7.png)
Just change .\scratch-desktop\scripts\electron-builder-wrapper.js line 80 from **ia32** to **x64**, while migrate to x64 version, also it could give ia32 and x64 versions at the same time.
Also add portable target ( also need change   .\scratch-desktop\electron-builder.yaml to and portable o

[2020-07-17 19:00] BryceLTaylor opened #128 "On some macs running 10.15 the Mac App Store build doesn't show the Stage"
### Expected Behavior

The stage appears, showing sprites, backdrops etc.

### Actual Behavior

On some macs, it seems like older ones, that are running the Mac App Store version of Desktop on 10.15, the stage does not appear.

![noStage](https://user-images.githubusercontent.com/1088291/87821010-19d26300-c83d-11ea-93e1-0ca7d5e67b7d.png)

Instead the stage area is blue and doesn't show sprites.

A

[2020-07-17 19:12] BryceLTaylor commented on #128
We have not seen this behavior from the direct download version of the app.

[2020-07-27 19:59] Explosion-Scratch opened #132 "You should be able to open a file directly."
When double clicking on a.sb3 file it should open up in scratch desktop. Instead it just opens a blank file in scratch desktop and you still need to load the file you wanted "from your computer". This is time consuming and inefficient. I also don't remember if I had to corner click and do "always open with scratch desktop" or not.

[2020-07-27 21:03] BryceLTaylor commented on #132
This is a duplicate of https://github.com/LLK/scratch-desktop/issues/32

[2020-07-27 21:03] #132 closed, assigned to nobody

[2020-07-28 22:24] #126 closed, assigned to cwillisf

[2020-07-29 23:42] fsih commented on #128
I got a console open! Unfortunately it reveals nothing
<img width="1275" alt="Screen Shot 2020-07-29 at 19 41 13" src="https://user-images.githubusercontent.com/2855464/88864619-9ec16300-d1d3-11ea-93f1-a4e1fa35fc3b.png">

[2020-07-30 05:44] apple502j commented on #128
@fsih Can you get vm instance somehow and call `vm.runtime.renderer.draw()`?

[2020-07-30 17:00] cwillisf commented on #128
Possibly related: electron/electron#23082

[2020-08-01 17:21] ecc521 commented on #122
If the scratch helper is running 630MB, what's the total memory usage? Opening up a larger project like Generic Red (https://scratch.mit.edu/projects/292297781/) uses a solid 250MB in browser, and Electron can easily run 200MB on it's own. If the project you are using is too large for the scratch website, I suspect this isn't actually an issue with the app.

[2020-08-02 20:39] redstone-dev commented on #122
@ecc521 Hm, maybe.

[2020-08-03 20:14] cwillisf opened #135 "macOS build should detect broken app-builder"
### Expected Behavior

If the version of `app-builder` used to build `scratch-desktop` will result in a broken `mas` or `mas-dev` build, the build process should inform the developer of the problem and refuse to build.

### Actual Behavior

The build process completes despite a broken version of `app-builder`, resulting in a `mas` or `mas-dev` build that will crash on startup with a confusing erro

[2020-08-03 20:17] cwillisf commented on #135
One way to test is to have `app-builder-bin` modify a text-based `plist` file and then check to see if the `plist` file is still text, or has become binary. If the file becomes binary then the problem is present.

[2020-08-03 20:35] #68 closed, assigned to nobody

[2020-08-13 22:12] #31 closed

[2020-08-18 12:19] mkygogo opened #140 ""npm run dist" can NOT work !"
### Expected Behavior

### **"npm start" is OK, When I run "npm run dist" ,got error like this:**

`            + 1 hidden module

Total library assets: 1331
events.js:292
      throw er; // Unhandled 'error' event
      ^

Error: connect ETIMEDOUT 31.13.77.33:443
    at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1141:16)
Emitted 'error' event on ClientRequest instance at:
    at TLSSocke

[2020-08-18 14:21] apple502j commented on #140
If you can, try proxy or VPN. This is probably the result of China government blocking Scratch.

[2020-08-19 00:46] mkygogo commented on #140
I have tried VPN, Google.com is ok, but "npm run dist" still not work , I even can't PING 31.13.77.33

[2020-08-19 01:56] mkygogo commented on #140
**When I run "npm run fetch" I got the same error**

Total library assets: 1331
events.js:292
      throw er; // Unhandled 'error' event
      ^

Error: connect ECONNREFUSED 31.13.65.18:443
    at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1141:16)
Emitted 'error' event on ClientRequest instance at:
    at TLSSocket.socketErrorListener (_http_client.js:426:9)
    at TLSSocket.emit (events

[2020-08-19 06:15] apple502j commented on #140
Hmm, it should connect to 151.101.230.133 and not 31.13.65.18 - try flushing DNS and editing hosts maybe?

[2020-08-19 07:02] mkygogo commented on #140
**thx apple502j, I edited the hosts: 151.101.230.133    cdn.assets.scratch.mit.edu**

**then run "npm run fetch " got another error:**

`λ npm run fetch

Total library assets: 1331
events.js:292
      throw er; // Unhandled 'error' event
      ^

Error: read ECONNRESET
    at TLSWrap.onStreamRead (internal/stream_base_commons.js:205:27)
Emitted 'error' event on ClientRequest instance at:
    at TL

[2020-08-19 09:37] apple502j commented on #140
Okay, I think the only way to build is prob either modding it so it uses proxy (seems like the VPN is not working there) or to go to HK or somewhere with more freedom.

[2020-08-19 09:48] mkygogo commented on #140
do you know the reason of thh last error?  **Error: read ECONNRESET**

[2020-08-20 17:51] cwillisf commented on #140
`ECONNRESET` stands for "connection reset" which usually means that your connection has been closed unexpectedly. This can happen for many reasons, including a connection being blocked.

One thing you can test is to try to download this file:
https://cdn.assets.scratch.mit.edu/internalapi/asset/9c49ade683c0f0d75796136ff5d1030f.svg/get/

You should get a small blue "X" as an SVG file -- you can eve

[2020-08-20 18:00] cwillisf opened #141 "right-click menu is missing from stage"
### Expected Behavior

Right-clicking on the stage should bring up a menu which includes "Save image as..." and "Copy image" as in a Chromium-based browser.

### Actual Behavior

Right-clicking on the stage does nothing.

### Steps to Reproduce

1. Launch Scratch Desktop
2. Right click on the stage

[2020-08-20 18:01] cwillisf commented on #141
Note that this right-click menu is a built-in feature of the browser. It seems that Electron by default turns the menu off, but there may be a way to turn it back on.

[2020-08-20 18:08] cwillisf commented on #141
Potentially relevant: https://github.com/sindresorhus/electron-context-menu

[2020-08-21 02:00] cwillisf opened #142 "Windows: 32-bit installer doesn't clean up existing 64-bit application"
### Expected Behavior

Installing a new copy of Scratch Desktop should remove any pre-existing copy in the same context (per-user or per-machine).

### Actual Behavior

Installing a 32-bit build of Scratch Desktop (version 3.11 or higher) does not clean up an existing 64-bit build (versions from 3.7.0 to 3.10.4). Most noticeably, shortcuts may point to the older version even after installing the n

[2020-08-21 02:58] mkygogo commented on #140
I can get the small blue "X" in browser, when I start VPN , but cannot WGET the link from CMD , so, maybe I do not fix the proxy problem.
"npm start" can launch Desktop application, I just want generate the EXE binary file , so is there any other way ?

[2020-08-21 04:03] apple502j commented on #141
Why do you rely on the browser's feature? Can't we have context menu our side and have stage download there, or put it in Edit/File menu dropdown?

[2020-08-21 14:18] cwillisf commented on #141
We certainly could implement it ourselves, but if we can use Electron's (Chromium's) built-in functionality that would be even better.

What I meant above was that the right-click menu that you get on the stage when visiting scratch.mit.edu is a feature of the browser: it's default behavior on canvas elements in many browsers and we didn't do anything special to make that happen. It's not default

[2020-08-21 14:23] cwillisf commented on #140
If you can't get the "fetch" step to work you could remove it from `package.json` but this will cause the sprite, costume, and sound libraries to not work. If that's OK, then you can remove the "npm run fetch" step from the `dist` and `distDev` lines in `package.json`.

If you need the sprite, costume, and sound libraries to work then I'm afraid you'll need to find a way to get the fetch step work

[2020-08-21 15:54] cwillisf commented on #107
I believe this is related to electron/electron#10950
I'm still trying to figure out how to fix it... adding the `downloads.read-write` entitlement (as suggested in that issue) fixes the problem if the save is going to the "Downloads" folder, but not anywhere else. I suspect the "app-scoped security bookmarks" path is the right way to fix this.

[2020-08-24 20:32] cwillisf opened #144 "`prepare-deps` is an unnecessary complication"
### Expected Behavior

The NPM dependencies for `scratch-desktop` are managed in the standard way, using `package.json` and `package-lock.json`

### Actual Behavior

As of #138, there is an extra `prepare-deps` step which complicates dependency management somewhat. It automatically runs as a post-install step, which helps, but it still could be surprising for new developers.

From https://github.c

[2020-08-25 09:36] mkovalevski opened #147 "How to add external .exe file to my scratch-desktop project?"
Hello! I develop arduino-scratch project and I need to install drivers automatically, I mean that Scratch Desktop 3.6.0.exe must include external .exe files and run it automatically during installation. How can I do it? Never worked with electron build

[2020-08-27 17:41] #107 closed, assigned to BryceLTaylor, cwillisf

[2020-09-03 16:53] apple502j commented on #128
Repro on https://scratch.mit.edu/discuss/topic/436607/

[2020-09-03 20:29] #147 closed, assigned to nobody

[2020-09-03 22:37] #144 closed, assigned to cwillisf

[2020-09-23 12:02] chrisruk opened #151 "Chrome devtools no longer appear in branch 3.15 for me"
### Expected Behavior

Previously in scratch-desktop, when I ran:

[code]

Chrome devtools would also appear (when using branch 3.12).

### Actual Behavior

Chrome devtools no longer appear when the Scratch window opens.

### Steps to Reproduce

[code]

### Operating System and Browser

Linux

[2020-09-23 14:05] apple502j commented on #151
Will it appear when you press Ctrl-Shift-I?

[2020-09-23 14:13] chrisruk commented on #151
Yes! It does :) Thanks again for your help.

One last question, previously when making changes to code, I would do:

[code]

And then:

[code]

I assume the watch-gui is no longer necessary as it seems to have been removed recently?

[2020-09-24 11:30] chrisruk opened #152 "All extensions are now running with 'use strict' ?"
### Actual Behaviour

With the following code in an extension:

[code]

I get:

[code]
Would I be right in thinking all extensions are now running as 'use strict'?, as I notice I can fix this by doing:

[code]

This appears to be a recent change, as in branches 3.12, the code 'for (count = 0; count < 64; count++){' worked without exception.

### Operating System and Browser

Linux

[2020-09-24 20:37] cwillisf commented on #151
Both of these changes are intentional... sorry for the confusion!
* In #134 I made it so that the dev tools no longer open by default in any build, but they can be opened with the standard key combination (ctrl+shift+i on Windows or Linux, cmd+shift+i on macOS) even in release builds.
* In #138 (refined with #148) I made it so that you no longer need to pre-build scratch-gui -- it now builds as pa

[2020-09-24 21:11] chrisruk commented on #151
Thanks for the links to the pull requests and for the information on watch-gui :)

[2020-09-24 21:11] #151 closed, assigned to nobody

[2020-09-24 21:15] cwillisf commented on #152
Hmm... I'm not aware of an intentional change that should have done this, but I'm inclined to think that strict mode is a good idea anyway. Is this a problem for your use-case?

[2020-09-24 21:39] chrisruk commented on #152
No, it's not a problem, I have now made the changes to the extensions so that they function ok.  And I agree it does seem a good idea.

Was curious if 'use strict' was being added somewhere for the extensions being loaded as the behaviour seemed to change for me, maybe something changed with an external library though.

Thanks again, will close this now.

[2020-09-24 21:39] #152 closed, assigned to cwillisf

[2020-09-24 22:37] cwillisf commented on #152
No worries - I'm curious where this is coming from too. While I'm OK with extensions running in strict mode, I'm somewhat less OK with this being a surprise change. I'll admit that figuring out isn't a top priority, but if you (or anyone) figures out where this came from I'd love to hear about it!

[2020-09-29 20:26] cwillisf commented on #140
Closing this since it's not an issue with `scratch-desktop` but rather a network problem

[2020-09-29 20:26] #140 closed, assigned to cwillisf

[2020-09-29 20:28] cwillisf commented on #104
Turns out that using `/S` works -- it must be a capital S. Along with that, you can choose `/currentuser` or `/allusers` to determine the installation context.

Silent install for current user:
[code]

Silent install for all users (requires administrator privileges):
[code]

[2020-09-29 20:28] #104 closed, assigned to nobody

[2020-09-29 20:45] cwillisf opened #153 "Building should not require an Internet connection (`npm run fetch` is a problem)"
### Expected Behavior

Once the repository is cloned, it should be possible to make development builds of the application repeatedly without an Internet connection.

Note that some signed builds will always require an Internet connection, as will Apple-notarized builds.

### Actual Behavior

One of the build steps downloads our asset libraries (sprites, costumes, and sounds) from the Scratch asset

[2020-09-29 20:46] cwillisf commented on #69
Closed in favor of #153

[2020-09-29 20:46] #69 closed, assigned to nobody

[2020-09-29 20:47] cwillisf commented on #140
See also #153

[2020-09-29 20:54] cwillisf opened #154 "`onHasInitialProject` is too complex"
This is a tracking issue for addressing review feedback: https://github.com/LLK/scratch-desktop/pull/150#pullrequestreview-498023241

### Expected Behavior

Items in `mapDispatchToProps` should be pass-through functions to `dispatch` when possible.

### Actual Behavior

The `onHasInitialProject` function in `src/renderer/app.jsx` includes some logic to determine which of two `dispatch` calls to ma

[2020-10-02 13:56] BryceLTaylor opened #155 "Investigate Apple MDM settings for computer lab installs"
There is a tool called MDM that comes from apple (I think) that is used for group installs.  An administrator looking to use it to install Scratch on multiple computers at once wanted to know how to configure it to automatically deny telemetry and perhaps set other settings as well.

We should investigate whether supporting this would be straight forward.

### Operating System and Browser

Mac

[2020-10-04 20:58] mkovalevski opened #156 "Not allowed to load local resource"
I develop an extension for arduino and when I call a window, which is created by myself, with .html file I get such error in production mode (desktop version): `Not allowed to load local resource: file:///C:/Users/User/AppData/Local/Programs/Scratch Desktop/resources/app.asar/port-window.html`

I call this window in renderer.jsx file and my port-window.html located in the same directory with rende

[2020-10-05 14:03] TakahiroHIWAKI opened #157 "Can’t hear “Text to Speech” ver 3.15.0"
### Expected Behavior
speak text

### Actual Behavior
donot speak to(cannot hear voice)

### Steps to Reproduce
1) install Scratch desktop ver3.15.0
2) select extension “Text to Speech”
3) click on “speak(hello)” block
but can’t hear “hello”

### Operating System and Browser
I tried on windows 10 + scratch desktop 3.15.0

[2020-10-05 14:18] apple502j commented on #157
Make sure you have Internet connection and nothing is blocking Scratch domain - for example, proxy, firewall, antivirus or country-wide censorship.

[2020-10-05 15:04] BryceLTaylor commented on #155
This came through help desk ticket number 257608

[2020-10-05 15:08] BryceLTaylor opened #158 "Investigate Microsoft Intune and publish guidelines for installing with it"
We got a request for information about how to do silent installs using Microsoft Intune for a computer lab setting in helpdesk ticket number 252582.  They figured out some of the settings they needed and it seemed to work for them.  We should figure out some sort of advice to give users attempting to use this tool and post it somewhere.  The somewhere could be a knowledge base article or the FAQ p

[2020-10-07 12:39] TakahiroHIWAKI commented on #157
We can do ver3.14.0
but,  latest ver3.15.0 CANNOT speech!

[2020-10-07 14:56] apple502j commented on #157
Ah, can repro.
再現できました。

[2020-10-07 15:12] apple502j commented on #157
For some reason `body.buffer` is undefined at scratch-vm/src/extensions/scratch3_text2speech/index.js speakAndWait.
なぜかしらcratch-vm/src/extensions/scratch3_text2speech/index.js speakAndWait内の`body.buffer`がundefinedになってます。

[2020-10-07 15:28] apple502j commented on #157
@ericrosenbaum  Where is `body.buffer` set? It seems like `body` is just a string with the data, not sure how it worked before. If requestType in the option is set as `arraybuffer` `body` should be ArrayBuffer.

[2020-10-08 11:20] apple502j opened #161 "Terser consumes too much RAM when building, crashing itself"
### Expected Behavior
Building should not fail with 8GB RAM

### Actual Behavior
Building scratch-desktop (`npm run dist`) on Windows 10, with Core i5 2.1GHz CPU and 8GB RAM, consumes about 3.5GB of RAM during normal webpack process, but it starts to consume more during TerserPlugin execution, causing the build to fail with allocation failure/out-of-memory.

I am not sure how Terser is getting exe

[2020-10-08 17:16] ericrosenbaum commented on #157
cc @BryceLTaylor @cwillisf

[2020-10-08 20:42] rschamp commented on #161
Marking priority 4 because this affects dev environments that aren't what we use internally

[2020-10-08 21:02] BryceLTaylor commented on #156
duplicate of https://github.com/LLK/scratch-gui/issues/6236

[2020-10-08 21:02] #156 closed, assigned to nobody

[2020-10-12 14:59] THS-on commented on #117
@cwillisf any updates regarding Linux support?

[2020-10-16 21:30] cwillisf commented on #156
Hi @happy228!
Since we don't officially support doing this kind of thing I'm going to leave this issue closed, but I'll try to help if I can.
I suspect the problem is that your `port-window.html` file is not making it into the bundle. You'll need to adjust the webpack configuration to include the file, and depending on how you do that you might or might not need to adjust the path between differen

[2020-10-23 15:14] chrisruk opened #162 "Error: Cannot find module"
### Expected Behavior

When running scratch-desktop using branch 3.15 it ran without module errors, however with 3.17.1 I get the following error

### Actual Behavior

[code]

### Steps to Reproduce

I used branch 3.17.1 rather than branch 3.15.0 to get the above error message.

I notice autoprefixer etc. have been removed from the package.json of scratch-desktop after version 3.15.0.

Any pointer

[2020-10-27 12:41] apple502j commented on #157
@cwillisf Confirmed my theory was true:
- Add breakpoint at xhr/index.js L215 and scratch-vm/src/extensions/scratch3_text2speech/index.js L746
- On the first breakpoint, run `xhr.responseType = "arraybuffer";` then resume
- On the second breakpoint, run `sound.data.buffer = body;` then resume
- Voice played

[2020-11-01 20:05] mkovalevski opened #163 "My own app reinstalls the original Scratch Desktop"
Hello! My own app with some extensions deletes the original Scratch Desktop and then installs my app based on scratch-desktop. I want those two apps be installed on my computer. I generated NSIS installer for Windows 10. Does anybody know how to fix it and make those two apps, mine and original, work together on Windows OS?

[2020-11-05 19:30] cwillisf commented on #163
Hmm... this really depends on how you have NSIS set up in your project. My recommendation is to look through your configuration settings for any identifiers such as `scratch-desktop` (especially `edu.mit.scratch.scratch-desktop`) or any unique ID numbers (look like `XXXXXXXX-XXXX-XXXX-XXXXXXXXXXXX`) and make sure you've replaced those values with your own.

If that doesn't help I'd recommend readi

[2020-11-05 19:30] #163 closed, assigned to cwillisf

[2020-11-05 20:54] mkovalevski commented on #163
@cwillisf Thank u very much! It worked.

[2020-11-13 12:42] mkygogo opened #164 ""npm start" got error!"
### When I run "npm start" got error like this :

` ERROR in ./node_modules/scratch-vm/src/virtual-machine.js
  Module not found: Error: Can't resolve 'scratch-parser' in 'E:\steam\scratch\scratch_git\scratch3\scratch-desktop\node_modules\scratch-vm\src'
   @ ./node_modules/scratch-vm/src/virtual-machine.js 331:23-48 604:23-48
   @ ./node_modules/scratch-vm/src/index.js
   @ ./src/renderer/app.jsx

[2020-11-18 00:01] cwillisf commented on #99
This issue was reintroduced with #150

[2020-12-01 19:11] cwillisf opened #167 "Scratch app privacy policy should be hosted on Scratch website"
### Expected Behavior

It should be possible to view the Scratch app privacy policy on the Scratch website, before downloading the app.

### Actual Behavior

Once #97 is resolved it will be possible to view the privacy policy inside the app, but we will need to do separately add the privacy policy somewhere on the website.

[2020-12-01 19:18] cwillisf opened #168 "the user should be notified of privacy policy changes"
Prerequisites: #97, maybe #167

### Expected Behavior

When the app can access the Internet, it should check for an updated privacy policy. If one is found, the app should notify the user and replace the built-in copy with the update.

Since this app is designed to support offline use, it is not an error for the privacy policy update check to fail. In that case the built-in privacy policy or the m

[2020-12-02 20:57] cwillisf opened #169 "Windows: spooky ghost of closed "About" window appears sometimes"
### Expected Behavior

Closed windows should not exist.

### Actual Behavior

If the About window has been opened and then closed, it can appear on the screen when switching between apps.

### Steps to Reproduce

1. Make sure at least one application other than Scratch is running and is shown on the Windows task bar.
2. Start the Scratch app
3. Click the Scratch logo to open the "About" window
4.

[2020-12-02 21:11] cwillisf commented on #169
I think the best way to fix this will be to allow the "About" window's `close` event to run its default behavior instead of calling `hide()` and prevent the default behavior. The "hide" behavior was intended as an optimization (re-opening the window is faster if it's hidden instead of closed) but I think these side effects override that concern.

We'll need to make sure that pressing the "About" b

[2020-12-15 14:31] onlycs opened #174 "Publish to Web"
I would like for Scratch Desktop to publish projects to the Website.

Thanks

[2020-12-15 18:35] onlycs commented on #164
Run `npm install` first.

[2020-12-17 15:51] BryceLTaylor commented on #122
I'm going to close this issue since I believe the impact is extremely low.

[2020-12-17 15:51] #122 closed, assigned to BryceLTaylor

[2020-12-21 10:57] btwise opened #175 "npm link is invalid"
Why do I use the `npm link` command in Scratch-Desktop to refer to the local scratch-GUI module, and after `npm install` is executed correctly, the interface I get when I run `npm start` is not the contents of the scratch-GUI I have modified?

[2021-01-02 12:26] cacarr-pdxweb commented on #117
I think you should strongly consider Flatpak :
https://flatpak.org/

Electron info:
https://docs.flatpak.org/en/latest/electron.html

[2021-01-06 11:45] vovsike commented on #175
I have same issue. Try running `npm start --preserve-symlinks`

[2021-01-15 18:49] BryceLTaylor opened #176 "Can't save to any drive other than c:\ on Windows"
### Expected Behavior

If you choose a different drive to save to, such as a second hard drive or a usb drive, it should save successfully.

### Actual Behavior

If you choose anything other than a location on the c:\ drive it will fail to save and throw an error.

![Can'tExportThumbDrive](https://user-images.githubusercontent.com/1088291/104765921-b1a30200-5737-11eb-8a85-747bd0245c28.png)

### St

[2021-01-15 18:59] BryceLTaylor commented on #176
This was reported in help desk ticket 289559

[2021-01-15 20:00] apple502j commented on #176
This is due to fix of macOS saving bug. I'm sure this can be fixed by reverting #143 only for Windows.

[2021-01-15 20:13] uglydumping opened #177 "The option to sign in isn't showing up at all its just blank in the corner"
### Expected Behavior

_Please describe what should happen_

### Actual Behavior

_Describe what actually happens_

### Steps to Reproduce

_Explain what someone needs to do in order to see what's described in *Actual behavior* above_

### Operating System and Browser

_e.g. Mac OS 10.11.6 Safari 10.0_

[2021-01-21 19:32] BryceLTaylor commented on #177
@uglydumping please provide the information requested in the template when opening an issue.

[2021-01-21 19:32] #177 closed, assigned to nobody

[2021-01-26 20:03] #97 closed, assigned to cwillisf

[2021-01-26 21:03] bilkoua commented on #117
@cwillisf

I think `deb`, `rpm`, `snap`, `tar.gz` will be enough.

I think for a start, it's enough to add "beta" support, and then see how the team is able to make the support official. Anyway, "beta" is better than nothing and starting with "beta" will be much easier to answer the above questions.

[2021-01-26 22:25] #99 closed, assigned to cwillisf

[2021-01-26 22:25] #102 closed, assigned to nobody

[2021-02-19 09:24] apple502j opened #181 "Remove nets and use other maintained libraries"
scratch-desktop uses `nets` for telemetry. `nets` uses deprecated `request` package and also adds `xhr` package which is never used (since telemetry is done in the "main process" that doesn't have XHR.)

We should use `node-fetch`, `axios`, or similar libraries.

[2021-02-24 13:14] ghost commented on #117
(Sort-of revival)

I think the Scratch Team could create an APT and RPM repository in subdomain(s) of the website (example: linux.scratch.mit.edu with directories for each package manager or if not possible, separate subdomains for each package manager) and have packages for Scratch (and when a Linux version is made, Scratch Link) there.

[2021-02-25 16:56] #164 closed, assigned to nobody

[2021-03-01 22:48] cacarr-pdxweb commented on #117
Regarding:

**_"we can't support this but we hope it works for you"_**

If that's what you need to do to get a Linux version out -- perhaps initially, at least -- yes, I think that's acceptable. Linux users are generally accustomed to availing themselves of various unofficial support resources. And calling such a release a "beta" seems reasonable.

[2021-03-03 23:28] kchadha commented on #157
Looks like this [will be fixed](https://github.com/LLK/scratch-vm/pull/2891#pullrequestreview-603394970) when LLK/scratch-vm#2891 goes in.

[2021-03-03 23:41] cwillisf commented on #175
Hi @btwise! If I understand correctly, it sounds like you're running into a quirk of how `npm` works. It turns out that `npm install` removes any links that you might have made, so the best sequence is:

1. `cd scratch-gui`
2. `npm link`
3. `cd ../scratch-desktop`
4. `npm ci` or `npm install`
5. `npm link scratch-gui`
6. `npm start`

If you use `npm install` or `npm ci` for anything in the `scratc

[2021-03-03 23:41] #175 closed, assigned to nobody

[2021-03-03 23:45] cwillisf opened #182 "media library acquisition should be at install time, not build time"
### Expected Behavior

All dependencies should be downloaded during `npm install` or `npm ci`.

### Actual Behavior

Most dependencies are downloaded during `npm install` or `npm ci`, except for the media libraries. The media libraries are downloaded during `npm run fetch` which is part of the `dist` and `distDev` build commands.

### Steps to Reproduce

1. Clone this repository
2. Run `npm instal

[2021-03-03 23:46] cwillisf commented on #182
Fixing this could be a step toward fixing #153

[2021-03-04 02:28] cwillisf opened #183 "choice doesn't stick in telemetry dialog"
### Expected Behavior

The radio buttons in the telemetry dialog should update when clicked

### Actual Behavior

Clicking the radio buttons doesn't seem to do anything

### Steps to Reproduce

1. Delete your `telemetry.json` file (or remove the "optIn" setting from it)
   * See instructions here: https://github.com/LLK/scratch-desktop#resetting-the-telemetry-system
2. Start Scratch Desktop versio

[2021-03-04 05:24] apple502j commented on #182
Should be as easy as specifying that as postinstall.

[2021-03-06 18:06] apple502j commented on #100
@cwillisf  Bumping this - and I think it's best to prioritize this more. As my exploit has shown, an XSS is enough to execute arbitrary code (currently) and Scratch app currently contains code that performs dangerous operations (e.g. manipulation of untrusted SVG.) While the issue is partially solved by adding a third party sanitizer, its bypass (such as mXSS) still allows arbitrary code execution

[2021-03-09 01:38] apple502j commented on #157
@kchadha This can be closed

[2021-03-10 21:57] osamaelsayed4151 opened #185 "i had that problem too but in scratch 3.17.1"
yeah i had it too but what ill do without text to speech it works on that site only
### scratch.mit.edu

[2021-03-11 01:00] apple502j commented on #185
Should be fixed in next version (3.21.0), will be released later this month (probably)

[2021-03-18 16:00] #185 closed, assigned to nobody

[2021-03-22 18:27] mxmou commented on #174
Likely a duplicate of #25

[2021-04-01 09:56] finjoetri opened #187 "How to translate scratch to a new language?"
I am interested in translating scratch to Tamil. How should I proceed?

[2021-04-01 11:15] apple502j commented on #187
See https://github.com/LLK/scratch-l10n/wiki/Guide-for-Scratch-Translators

[2021-04-02 18:59] cwillisf opened #188 "Cannot type in text fields after dismissing a pop-up prompt"
### Expected Behavior

Text fields in the Scratch editor always work

### Actual Behavior

Text fields in the editor will not accept focus after dismissing the "Replace contents of the current project?" dialog with either "OK" or "Cancel" or dismissing the "Leave Scratch?" prompt with "Stay"

### Steps to Reproduce

1. Start the app
2. Make a change, such as moving the cat sprite
3. Use any of the

[2021-04-03 05:00] apple502j commented on #188
Duplicate of #112

[2021-04-08 18:43] BryceLTaylor commented on #188
Closing as duplicate of #112

[2021-04-08 18:43] #188 closed, assigned to nobody

[2021-04-23 20:49] BryceLTaylor commented on #176
This has also come up in the help desk ticket 319562

[2021-04-29 17:28] cwillisf commented on #176
On 3.20.1, I was able to save in `D:\asdf` (after making that directory). I wasn't able to save in `D:\` but I think that's expected with default Windows permissions. I did get a reasonable error message:

![image](https://user-images.githubusercontent.com/7019101/116592197-928a4380-a8d4-11eb-8ae3-1581ab747013.png)

In theory you should be able to save anywhere if a) the user has permission to sav

[2021-05-12 09:02] bilkoua commented on #117
Unfortunately, there is no discussion, but there are only monologues of those who want this issue to begin to be resolved.
@cwillisf @paulkaplan @benjiwheeler @thisandagain @dlech @fsih @apple502j

[2021-06-01 15:59] eMPee584 commented on #117
There's PR #173 as well, how about this issue's participants try that and expand it to cover the other package formats beyond deb? 🤠

[2021-07-01 08:40] sr258 commented on #32
As passing sb3 files through the command line was added with #150, this feature should be easy to add - for Windows at least. (for MacOS, it is necessary to implement a callback for the `open-file` event) I think the only thing left is to add the required settings to the Electron Builder config. Is anyone working on this?

[2021-07-08 09:05] ezze commented on #117
This is [how I do it](https://gist.github.com/ezze/f8ff57323bb0e6a1c6d8e5fefe9b49a7) until this issue is resolved:

1. Install Git and Node.js (the easiest way to install Node.js is to use [nvm](https://github.com/nvm-sh/nvm)). This is how it can be done in Ubuntu 20.04:

[code]

2. Clone repository:

[code]

   or

[code]

3. Checkout version of interest by [tag](https://github.com/LLK/scratch-de

[2021-07-12 09:11] ffsher opened #200 "error on command: npm start"
Hi All,

I am new to study and every thing is fine til command: "npm start" ,when I followed steps detailed on _scratch-desktop README.md_.

### Actual Behavior
ffsher@DESKTOP-OAHCTK8:/mnt/c/Scratch_build/scratch2exe/zip/scratch-desktop$ **sudo npm start**
[sudo] password for ffsher:

[1457:0712/153004.645918:FATAL:electron_main_delegate.cc(211)] **Running as root without --no-sandbox is not suppo

[2021-07-12 11:21] apple502j commented on #200
Can't you remove the sudo?

[2021-07-13 08:55] ffsher commented on #200
Hi apple502j,

thanks for you reply.

command : npm start(without sudo).
I tried before and had other error.

By studying on website, i found this is **electron** hot issue.

I still keep debugging this error. if any good news, i would post on this section

[2021-07-15 20:47] rschamp commented on #200
You shouldn't run `npm` commands with `sudo`. If you have a different issue running the command without `sudo`  please open a new issue with that.

[2021-07-15 20:47] #200 closed, assigned to nobody

[2021-07-26 08:46] ffsher commented on #200
Yes, i remove sudo from npm. but, procedure still has error.

Actually, i use WSL and got some idea by the link :
https://stackoverflow.com/questions/63784533/cant-run-electron-on-win10-ubuntu-subsystem

 WSL need to be switched "metadata"

[2021-08-02 17:22] #183 closed, assigned to cwillisf

[2021-08-15 07:24] abee2 opened #202 "Cannot switch the language on Chrome OS / Android version"
### Expected Behavior

You should be able to switch languages with the globe icon in the Chrome OS / Android version of the Scratch App.

### Actual Behavior

The Chrome OS / Android version does not have a globe icon, so you cannot switch the language. Therefore, there is no way to switch to Japanese hiragana character, "にほんご". This is a problem for small children who cannot read kanji character.

[2021-08-23 09:31] eduardo-lago-aguilar opened #203 "Unique project name with Auto Save option enabled by default in Scratch Desktop editor"
### Expected Behavior

The Scratch Editor should
- generate a unique name file name and project name for each new project
- autosave the project every few minutes (3 min for instance)
- have the auto-save enabled by default
- provide the option of disabling the auto-save

### Actual Behavior

- same project name is used every time the editor opens
- if the editor crashes or is closed the project g

[2021-08-23 09:38] eduardo-lago-aguilar opened #204 "Basic clone, pull, push Git integration in a kid friendly way"
### Expected Behavior

The Scratch Editor should be able to

- initialize a git repository in the project
- or open a local/remote git project fetching the changes
- pull and push the changes in a friendly way (like a sync button)
- all changes performed in the master branch (another issue to change branches and perform other operations)

### Actual Behavior

- there is no git integration

### Ste

[2021-08-23 10:52] apple502j commented on #204
Scratch project is not very Git-friendly. The code is stored as one big file and merging or conflict solving is... a hell. Not to mention the fact the files are minified to save disk space.

[2021-08-25 15:11] grega opened #205 "Upgrade to Electron 13 in order to support Debian Bullseye"
Due to a sandboxing issue in Chromium ([layer-2 seccomp-bpf sandbox](https://chromium.googlesource.com/chromium/src/+/HEAD/docs/linux/sandboxing.md#The-sandbox-1)), older versions of Electron do not run on Debian Bullseye without setting the `--disable-seccomp-filter-sandbox` flag.

The sandboxing issue has been [recently fixed](https://chromium-review.googlesource.com/c/chromium/src/+/2785131) an

[2021-08-26 13:27] BryceLTaylor commented on #203
This is a duplicate of https://github.com/LLK/scratch-desktop/issues/7,  but this issue has a few more features specified in it.

[2021-08-26 20:44] BryceLTaylor commented on #204
Thanks for the suggestion, but we are not going to implement this feature.

[2021-08-26 20:44] #204 closed, assigned to nobody

[2021-10-06 16:20] nasirkhan opened #207 "Crashing each time while trying to open Scratch on Windows 11"
### Expected Behavior

I installed Scratch from Windows Store. Which I tried to open the application I expected it would open and I will use the editor.

### Actual Behavior

Scratch was crashed each time I tried to open it.

### Steps to Reproduce

1. Open windows Store and search for Scratch or open https://www.microsoft.com/store/apps/9pfgj25jl6x3?cid=storebadge&ocid=badge
2. Install Scratch fr

[2021-10-08 19:14] cwillisf commented on #207
Hi @nasirkhan! Thanks for the excellent report!

I found that it works for me on the release version of Windows 11, and since the direct download works for you I'd guess this problem has something to do with the Insider Preview version of Windows 11. I'll close this issue for now on that theory.

If you find that this is still a problem for you if and when you update to the release version, we can

[2021-10-08 19:14] #207 closed, assigned to nobody

[2021-11-09 21:07] markakis-sch commented on #117
Good evening everyone, I am an IT teacher from Greece and until recently I used [Scratux](https://github.com/scratux/scratux) for the teaching needs of the primary school I work in, as there is no official Linux version of Scratch Desktop.

Due to the fact that Scratux is based on an older version of Scratch Desktop, a few days ago I followed the steps mentioned by @ezze for version v3.26.0 and cr

[2021-11-13 20:43] Brian586 opened #212 "Can't build setup.exe for windows"
### ERR_ELECTRON_BUILDER_CANNOT_EXECUTE failedTask=build

I am trying to build a setup file for distribution on windows platform but I keep getting an error related to **_electron-builder-binaries_**.

This is my build configuration in **_package.json_** file;

### Actual Behavior

When I run `npm run dist`, everything works fine then this happens;

  • electron-builder  version=22.13.1 os=10.0.19

[2021-11-16 13:11] Brian586 commented on #212
On the root folder of the project, run;

`npm config delete proxy`
`npm config delete https-proxy`

[2021-11-27 00:00] et451 opened #213 "Can't save project anymore on Linux platform since upgrade to Electron 15"
### Expected Behavior

When I want to save a project in Scratch-Desktop, I click on ` File > Save to your computer `.
A save file dialog box should open in order to choose a folder and a file name.

### Actual Behavior

Nothing happens, the save file dialog box doesn't show anymore.

If Scratch-Desktop is started from a console, there is a message error:
`Gtk: gtk_native_dialog_run: assertion '!pr

[2021-12-11 15:54] apple502j opened #214 "Desktop 3.27.0 EXE binary is not signed"
### Expected Behavior
Desktop 3.27.0 EXE binary is signed like other releases

### Actual Behavior
Desktop 3.27.0 EXE binary is not signed

### Steps to Reproduce
1. Download https://downloads.scratch.mit.edu/desktop/Scratch%20Setup.exe
2. Execute
3. Windows shows a dialog saying it's not signed
4. The file's properties does not have digital signature section

### System Details
Windows 10

[2021-12-14 18:00] cwillisf commented on #214
Thanks for catching this! Not sure what happened there... I'll dig into it and make sure our next release is properly signed.

[2021-12-16 21:37] kchadha commented on #213
We don't officially support Linux and this seems to be a bug within Electron itself, so hopefully will get fixed in an update there.

[2021-12-16 21:37] #213 closed, assigned to nobody

[2022-01-10 15:04] brucebnu opened #215 "[Bug] Open the work from the file local under windows10, the input box loses focus."
### Expected Behavior
Open the work Load from your computer on windwos10, delete the value in the input box, and repeat the input. should be fine.

### Actual Behavior
Open the work from the local under windwos10, delete the value in the input box, and repeat the input. The cursor will lose focus, and the value of the block input box cannot be edited. Minimize the window, open the window again, re

[2022-01-14 02:51] apple502j commented on #215
Related to #112

[2022-01-18 10:28] brucebnu commented on #215
What is the cause of this problem, under Windows 10?
Are importing, exporting project files, recycling and events buggy?

[2022-02-24 21:46] #88 closed, assigned to nobody

[2022-03-03 20:12] spacevoyager78 commented on #112
Any news on this? It is a really annoying bug.

[2022-03-11 16:27] eMPee584 commented on #117
Thanks a lot @markakis-sch, just included the package in our https://github.com/fsfw-dresden/usb-live-linux/ school distro.

Can you provide more information about that? I'd love to have a look at that to see what can be picked.. ✌️😄🏴‍☠️

[2022-03-12 12:11] markakis-sch commented on #117
Information about that repository you can find at [https://ts.sch.gr/wiki/Linux/Αποθετήρια](https://ts.sch.gr/wiki/Linux/%CE%91%CF%80%CE%BF%CE%B8%CE%B5%CF%84%CE%AE%CF%81%CE%B9%CE%B1) but it is in Greek.

The Free Software solution for Greek schools is based on [Ubuntu Mate](https://ubuntu-mate.org/) (Debian), [LTSP](https://ltsp.org/), [Epoptes](https://epoptes.org/) and includes educational softw

[2022-03-24 20:31] kchadha commented on #80
Closing as dupe of #72

[2022-03-24 20:31] #80 closed, assigned to nobody

[2022-03-28 21:06] markakis-sch commented on #117
@eMPee584 you can also pick the Linux build of [ScratchJr-Desktop](https://github.com/markakis-sch/ScratchJr-Desktop/releases) if you are interested.

[2022-03-31 20:29] BryceLTaylor commented on #81
We recently added support for webGL 2 which may support some of these specific GPUs.  We are going to close this and re-evaluate if this comes up again.

[2022-03-31 20:29] #81 closed, assigned to nobody

[2022-04-13 01:33] kccuber-scratch commented on #205
resolved. electron's at ^15.3.1 now.
https://github.com/LLK/scratch-desktop/blob/5b0c63ba9474464ffec99fb5dcd6b544da786aba/package.json#L42

[2022-04-13 11:54] #205 closed, assigned to nobody

[2022-04-19 19:55] Dhuls-Scratch commented on #117
I'm surprised nobody here has mentioned AppImage. It's just one file, doesn't require installation, or root privileges (just `chmod +x File.AppImage`)

[2022-04-19 20:03] Dhuls-Scratch opened #230 "App Stores don't link to App privacy policy"
### Expected Behavior

App stores should link to https://scratch.mit.edu/privacy_policy/apps, since it was made for that purpose

### Actual Behavior

They link to https://scratch.mit.edu/privacy_policy/
### Steps to Reproduce

_Explain what someone needs to do in order to see what's described in *Actual behavior* above_

Steps to reproduce the behavior:
1. Go to 'https://www.microsoft.com/en-us/p

[2022-04-26 16:39] cwillisf commented on #230
Thanks for reminding us about this! I'm a little sad that I forgot to update these links when we published the new privacy policy. I'll work on updating them...

- [x] Microsoft Store
- [ ] Mac App Store
- [x] Google Play Store

[2022-04-26 17:12] cwillisf commented on #230
Updating the link on the Mac App Store should be bundled with our next release of the Mac version of the app.

[2022-04-26 17:17] kchadha commented on #230
Thanks @cwillisf!

[2022-05-15 08:39] kebhr opened #231 "npm start with locally cloned scratch-gui/vm fails by cannot find module error"
### Expected Behavior

Launch scratch-desktop with locally cloned scratch-gui, scratch-vm by npm start

### Actual Behavior

`npm start` fails by the error `Error: Cannot find module 'scratch-blocks/package.json'`

<details>
<summary>Full error logs</summary>

[code]
</details>

### Steps to Reproduce

[code]

### System Details

- Mac Studio (2022) (M1 Max)
- macOS 12.3
- node v16.15.0
- npm v8.5

[2022-05-16 14:49] markakis-sch opened #232 "official Scratch extension for LEGO SPIKE Prime and Essential"
I noticed that there is no official extensions for LEGO SPIKE Prime and LEGO SPIKE Essential hubs.
I would like to ask if it is your intention to create them? Is the LEGO company cooperative to help with this?

Searching the internet I found that there is the project [https://github.com/bricklife/scratch-lego-bluetooth-extensions](https://github.com/bricklife/scratch-lego-bluetooth-extensions) whi

[2022-06-14 10:13] ICTSoEasy commented on #32
How is this still not a thing? It's such a 'normal' feature and wastes so much of my time!

[2022-06-14 11:10] sr258 commented on #32
It's also a nightmare with a hord of 12 year olds in your computer lab. A fix would be great._

[2022-06-14 12:46] ICTSoEasy commented on #32
I have scratch files emailed (from a system). 30x kids in a class might email 12x scratch files in a half term. A typical UK school may have 8 classes in the year group. A bit of maths and that’s a *lot* of time wasted - I reckon in Windows, now you can open via command line - you could do via a batch file. Mac I’m unsure…

[2022-06-14 13:11] sr258 commented on #32
It's also not just the time wasted, but my pupils don't understand why double clicking the files doesn't work. I have explained thousands of times, but it's so counter-inuitive that it doesn't seem to reach them. In the end, I gave up on the desktop app, because I'm tired of explaining this over and over.

[2022-06-15 20:08] benjiwheeler commented on #32
Sorry that people are running into this. Thanks for reviving attention to it.

[2022-07-17 09:02] kebhr commented on #162
Still haven't found a solution?

[2022-07-20 13:42] kebhr commented on #231
scratch-desktop depends on the scratch-gui dependency library. linking scratch-gui with npm link causes an error because the scratch-gui dependency library is excluded from node_modules.

I solved the problem by not using npm link and using symbolic links instead.
[code]

[2022-07-20 13:42] #231 closed, assigned to nobody

[2022-08-08 12:29] unhammer commented on #117
AppImage is the simplest distribution method if you're not involved in a distro already. The .deb's and such tend to lead to problems when upgrading distros, and flatpak/snap have differing level of support on different distros. In my experience, AppImage Just Works.

That said, anything would be better than the current nothing :)

EDIT: https://flathub.org/apps/details/edu.mit.Scratch is an unoff

[2022-09-02 12:08] dmalan opened #238 "ENA-83: Ability to Zoom In and Zoom Out responsively"
### Expected Behavior

In the browser version of Scratch, it's possible to Zoom In and Zoom Out responsively, as via command-plus and command-minus on a Mac, whereby the entire UI resizes (not just the code area).

We use such when teaching on a projector (zooming in 150% typically), so as to make UI elements more visible, particularly for students farther back.

### Actual Behavior

As best I can

[2022-09-05 04:32] sarkaramitabh300 opened #239 "How to modify Scratch desktop version"
Hi, I want to change the scratch desktop app's logo and the scratch name, and some other theme modifications,
the readme is not very clear to me, I am unable to do it, I have also gone through the modding guide but no help, there is nothing mentioned about the scratch desktop app modification,
please point me to a correct source or guide or help me here.

[2022-09-08 14:30] cwillisf commented on #238
We should definitely implement a way to adjust the overall zoom! Not only is it helpful for presenting to a room, as you suggested, but it can also be an accessibility feature for an individual.

Here's a workaround for people who are comfortable with the browser console, though it's a poor substitute for the proper feature. Note that this works only in the Mac or Windows app, not on the web or An

[2022-09-08 14:36] cwillisf commented on #238
Somewhat related to LLK/scratch-android#58

[2022-09-22 16:24] cwillisf commented on #239
Hello! We generally only support enhancing the Scratch application, rather than creating alternative versions of it. You're welcome to create alternative versions, of course, but we can't really provide support for that path since it's no longer "Scratch" at that point.

I can give a few general tips, though:

* icons are in the `buildResources` and `src/icon` directories
* the "Scratch" name is l

[2022-09-22 16:24] #239 closed, assigned to nobody

[2022-10-29 10:22] spacevoyager78 commented on #112
Since I teach Scratch to young children, it is frustrating to constantly remind them to click on Windows taskbar and then back to Scratch to regain focus. So, until this is ever fixed, I used [AutoHotkey](https://www.autohotkey.com/) to create a script to detect clicking of buttons in alert or confirm boxes and make Scratch regain focus after 1 second. Ugly, but it works for me, I'll test in a few